[2014-02-25 16:45] jlouvel opened #850 "Support additional HTTP status (RFC 6585)"
See HTTP update (Roy T. Fielding support):
http://tools.ietf.org/html/rfc6585
- 428 Precondition Required
- 429 Too Many Requests
- 431 Request Header Fields Too Large
- 511 Network Authentication Required
# workload: need analysis

[2014-02-26 06:49] jkeljo opened #851 "Ant build hangs"
I'm trying to build Restlet so I can work up some fixes to a couple bugs I've noticed in the Android edition. I've been following the instructions found in the GitHub wiki and the readme in the code. However, the build hangs every time when trying to run unit tests, eventually timing out. The CI build is doing the same thing, even for commits that correspond to released versions (example: https://

[2014-02-26 15:50] jkeljo opened #852 "Android NIO server SSL handshake hangs"
Observed on Android 4.2.2 on Verizon Galaxy Nexus, also 4.0.4 on Rikomagic MK802II. Restlet versions 2.1 and 2.2RC2.

Using <code>org.restlet.ext.nio.HttpsServerHelper</code> to provide an HTTPS server on Android. Incoming connections hang at the SSL handshake. The issue is that SSLEngine on Android never reaches FINISHED state -- it just goes directly from NEED_WRAP to NOT_HANDSHAKING. (There's a

[2014-02-26 16:04] jkeljo opened #853 "DefaultSslContextFactory doesn't handle enabledCipherSuites/enabledProtocols parameters properly"
If you specify "enabledCipherSuites" but not "enabledProtocols", the "enabledCipherSuites" are ignored. The root of the issue is what looks like a copy/paste error in <code>DefaultSslContextFactory.init()</code>, which clears the enabled cipher suites if no enabled protocols are provided (the parallel code for disabledCipherSuites/disabledProtocols does not do this):

[code]

[2014-02-27 00:24] jlouvel opened #855 "Fix high priority web site issues"
See the list of issues:
https://github.com/restlet/restlet-sites/issues?labels=Priority%3A+high&page=1&state=open

[2014-02-27 16:00] #849 closed, assigned to thboileau

[2014-02-28 20:42] jlouvel opened #856 "Add Restlet to Techempower benchmark"
Pretty simple in term of source code:
http://www.techempower.com/benchmarks/

Check which is the fastest HTTP connector to use (Jetty or Simple).

[2014-03-01 00:23] #752 closed, assigned to thboileau

[2014-03-01 22:10] jlouvel opened #857 "Fix all Eclipse warnings"
Currently we have 29 warnings, due to the upgrade of library dependencies.

Need to replace deprecated method calls and so on.

[2014-03-03 19:17] jlouvel opened #858 "Ensure all editions examples are tested manually and update/verify tutorials"
Ensure all tutorials and source code examples in user guide still work properly for all editions.

[2014-03-03 19:19] jlouvel opened #859 "Upgrade Spring Framework to version 4"

[2014-03-04 22:30] #835 closed, assigned to thboileau

[2014-03-06 18:39] jlouvel opened #860 "Automated Ant build doesn't work in Eclipse"
I'm running Eclipse Kepler SR1 under Win8.

When I build the RF, I get this error:

[code]

[2014-03-06 19:13] #848 closed, assigned to thboileau

[2014-03-06 22:28] #845 closed, assigned to thboileau

[2014-03-07 01:09] jlouvel opened #861 "204 results instead of empty strings"
Reported by Arjohn Kampman

See related discussion:
http://restlet.tigris.org/ds/viewMessage.do?dsForumId=4447&dsMessageId=2849437
# workload: 4h (test all converters)

[2014-03-07 08:19] #449 closed, assigned to thboileau

[2014-03-09 19:47] jkeljo opened #862 "NIO SSL server infinite loops on close-notify"
If a client sends a close-notify alert prior to closing the connection, the NIO HttpsServerHelper goes into an infinite loop in the ready loop in Connection.onSelected. This happens on both Android and JSE. The Android client appears to send a close-notify in some scenarios, and curl (on MacOSX) does it every time.

What appears to be happening is the following:
1. When the close-notify is receive

[2014-03-12 23:21] #862 closed, assigned to thboileau

[2014-03-12 23:22] #853 closed, assigned to thboileau

[2014-03-12 23:23] #852 closed, assigned to thboileau

[2014-03-13 04:33] jlouvel opened #864 "Spring dependency broken in Maven"
Reported by

"3) There are still mess in the spring dependencies: org.restlet.ext.spring
depend on spring-asm which has been merged into spring-core in recent spring
versions so a dependency exlusion is needed for
org.springframework:spring-asm. In addition
org.springframework:spring-expression should most likely be pinned to a
version compatible with the one used for the camel build (3.2.5.RELEAS

[2014-03-13 17:23] jgustie opened #865 "CompositeHelper.handle fails when Component has no inbound filters"
The `CompositeHelper.handle` method reports that a component wasn't properly started if there are no inbound filters, even if the `inboundNext` is set.

I was able to get into this state by disabling the both component status service and the component log service. This left no enabled component services and therefore no inbound filters were created.

Calling `getInboundNext` instead of `getFirstIn

[2014-03-17 17:12] jgustie opened #866 "ServletWarEntity and ZipEntryEntity ignore the timeToLive parameter"
Both the `ServletWarEntity` and `ZipEntryEntity` have `toRepresentation` methods that quietly ignore the time to live value being passed by the client helper (CLAP and FILE both honor the the value).

On a related note, there does not seem to be a good way to detect which clients are using a `LocalClientHelper` and should therefore support the TTL setting.

[2014-03-17 18:07] jlouvel opened #867 "Review all the content of the web site (user guide especially)"
Ensure consistency of documentation/content, working links.

Need team review work and exhautive testing.

Assigned to TBO would will initiate the process .

[2014-03-18 15:12] jgustie opened #868 "ServletWarEntity is limited to file system modification dates"
The `ServletWarEntity` obtains modification dates through a combination of `ServletContext.getRealPath` and `File.lastModified`. For containers which choose not to expose the real path (for security reasons, by configuration or because the resource remains packed within a WAR file) the modification date may still be available. For example, `ServletContext.getResource` in Tomcat may return a `java.

[2014-03-18 17:18] jlouvel opened #869 "Fix Eclipse update site issues"
If possible for RC4, please fix those issues:
- rename update site title from "Restlet 2.2 - http://p2.restlet.org/2.2/" to "Restlet Framework 2.2 - http://p2.restlet.org/2.2/"
- refresh the 2.2 snapshot which seems to be used by default in Eclipse (dated from September 2013)
- move "Restlet examples" bundle into the "Misc" category instead of "Uncategorized"
- move Restlet Extension - GSON" into

[2014-03-18 18:00] jlouvel opened #870 "Fix remaining web site issues"
I have created a specific milestone:
https://github.com/restlet/restlet-sites/issues?milestone=3&state=open

[2014-03-18 18:05] #864 closed, assigned to thboileau

[2014-03-18 18:22] #855 closed, assigned to thboileau

[2014-03-19 08:40] davsclaus opened #871 "Restlet 2.1.7 - NPE in org.restlet.ext.httpclient.internal.HttpMethodCall.getStatusCode"
There is a NPE when you use a restlet http client to call a remote rest service, and you have a connect timeout, and that triggers a timeout.

And if your restlet http client uses asynchronous mode, then the callback in the handle is not called because of this NPE.

This causes our client code to never get notified of this, and therefore hang.

The NPE is

[code]

And the problem is that getStatus

[2014-03-19 12:32] #843 closed, assigned to thboileau

[2014-03-19 15:07] #869 closed, assigned to thboileau

[2014-03-19 15:53] #851 closed, assigned to thboileau

[2014-03-19 22:04] Tembrel opened #872 "Remove debugging statements in released 2.2-RC4 code"
Some `System.out` calls in `MediaType`:

https://github.com/restlet/restlet-framework-java/blob/2.2/modules/org.restlet/src/org/restlet/data/MediaType.java#L1140-L1145

[2014-03-20 05:35] jlouvel opened #873 "Replace all package.html by package-info.java"
See rationale here:
http://docs.oracle.com/javase/7/docs/technotes/tools/solaris/javadoc.html#packagecomment
# workload: 1h (first step: manually migrate few package.html files then scale, and estimate workload)
- about 140/150 files to migrate.

[2014-03-20 05:47] jlouvel opened #874 "Upgrade to Java 7"
- migrate Eclipse projects
- migrate Ant build (build.properties)
- upgrade code base
- generate modern Javadoc style
- upgrade the (new) build/forger machine

[2014-03-20 06:00] jlouvel opened #875 "Add APISpark extension"
This extension should be able to:
- introspect a web API contract (like the WADL and Swagger extension) for both Restlet API and JAX-RS API based code
- send it to an APISpark (https://apispark.com/) web API cell using its meta-API
- include the client SDK to interact with APISpark
# workload: ? (the extension has already been added, I'm not sure what need to be done).

[2014-03-20 06:30] jlouvel opened #876 "ClientResource regression with GAE since 2.2 RC1"
Reported by Alex Harvey:
http://restlet.tigris.org/ds/viewMessage.do?dsForumId=4447&dsMessageId=3074844

"Prior to 2.2-RC1 we were able to use ClientResource correctly on App Engine with the .gae extension dependencies. However, we are no longer able to do so and receive a client connector error regarding the HTTP and HTTPS protocol jar being missing. Is this intended behavior? From the build note

[2014-03-20 23:41] #512 closed, assigned to jlouvel

[2014-03-21 22:58] #872 closed, assigned to thboileau

[2014-03-22 01:30] #839 closed, assigned to jlouvel

[2014-03-22 18:41] jlouvel opened #880 "Fix AsynchroneTestCase taking too long"
For some reason this test case takes a lot of time to complete, especially under Java 7 it seems. We need to debug it.
# workload: 2d (I'm not sure about how to estimate such task)

[2014-03-24 22:33] jlouvel opened #881 "Fix test suite"
Looking at the Travis build the test suite fails in JSE edition.

My local Ant test suite logs show this issue due to the JAX-RS 2.0 library upgrade (related to RESTEasy):

Testcase: testIae took 0.054 sec
    Caused an ERROR
javax/ws/rs/core/Configurable
java.lang.NoClassDefFoundError: javax/ws/rs/core/Configurable
    at java.lang.ClassLoader.defineClass1(Native Method)
    at java.lang.ClassLoa

[2014-03-24 22:39] jlouvel opened #882 "Combo box style is broken"
In staging, I noticed a regression with the combo box buttons.

The should have a blank background and be justified. See how they look in staging:

![image](https://f.cloud.github.com/assets/374450/2506279/e5fc5238-b3a4-11e3-9bb1-27115f828ab5.png)

See how they look in prod:

![image](https://f.cloud.github.com/assets/374450/2506292/109cf59c-b3a5-11e3-984a-d13c14a29bc9.png)

[2014-03-24 22:56] #833 closed, assigned to thboileau

[2014-03-24 23:10] jlouvel opened #883 "Only propose Eclipse distribution for OSGi edition"
This distribution isn't supported/available for other editions.

[2014-03-25 09:42] ghost opened #884 "Review First Steps Tutorial : first server"
Ref : http://restlet.org:8444/learn/guide/2.2/introduction/first-steps/first-server

[2014-03-25 09:45] ghost opened #885 "Review First Steps Tutorial : first client"
Ref : http://restlet.org:8444/learn/guide/2.2/introduction/first-steps/first-client

[2014-03-25 09:48] ghost opened #886 "Review First Steps Tutorial : first application"
ref : http://restlet.org:8444/learn/guide/2.2/introduction/first-steps/first-application

[2014-03-25 09:54] ghost opened #887 "Delete or review historical tutorial"
This tutorial has been integrated into various part of the documentation, and was supposed to be deleted after this integration.

ref : http://restlet.org:8444/learn/tutorial/2.2/

question:
precise where to redirect this url?

[2014-03-25 09:56] ghost opened #888 "User guide : Review Code Examples"
We'll list build the list code samples (CQU)
and then incrementally review these codes (TBO)

[2014-03-25 09:58] #858 closed, assigned to thboileau

[2014-03-25 15:28] thboileau opened #889 "Review links from package summary files for each extension"
I've identified broken links to the user guide in some package.html.
We need to review all of them in restlet source code.

[2014-03-25 16:21] #884 closed, assigned to quilicicf

[2014-03-25 16:22] #885 closed, assigned to quilicicf

[2014-03-25 16:55] #489 closed, assigned to thboileau

[2014-03-25 18:51] Atlanssia opened #890 "Incorrect implementation of method available()"
I can not get remaining when I call org.restlet.engine.io.ReaderInputStream.available(), every time it return 0 :(

Since we read content from this.reader at line 135:
[code]
but in available() we get remaining from this.byteBuffer:
[code]

Please confirm, thank you.

[2014-03-25 23:35] #886 closed, assigned to thboileau

[2014-03-26 12:11] #889 closed, assigned to jlouvel

[2014-03-26 15:55] #882 closed, assigned to jlouvel

[2014-03-26 17:11] #870 closed, assigned to jlouvel

[2014-03-26 18:04] #876 closed, assigned to thboileau

[2014-03-26 18:41] #874 closed, assigned to thboileau

[2014-03-27 08:01] #713 closed, assigned to nobody

[2014-03-27 13:07] ghost opened #891 "Documentation reference sheet : turn public"
Extract from #888 JLO :  We need to make the mentionned GDoc either accessible to anyone, or available as GitHub wiki pages.

[2014-03-27 13:09] #888 closed, assigned to nobody

[2014-03-27 16:53] jlouvel opened #892 "Remove .properties files from the distributions"
Currently, the "/src" directory shipped contains those files:

![image](https://cloud.githubusercontent.com/assets/374450/2540172/39104f42-b5d0-11e3-8088-a4a39f8921a5.png)

We should remove them.
# workload: 1h

[2014-03-27 22:59] jlouvel opened #893 "Add WebSocket support"
- expose as an extra protocol, in a REST-compatible way
- let developers reuse existing server resources
- similar to W3C Server-Sent Events approach

Suggested by Olivier Croisier
# workload: 2d (seems well documented, perhaps have a first step of analysis, before estimating the workload)

[2014-03-28 00:24] jlouvel opened #894 "Upgrade Guice extension to version 4"
That would be nice to sync with the new version for RF 2.3 M2:
https://code.google.com/p/google-guice/wiki/Guice40

Tim, should we expect important changes to the extension?
# workload: 1h

[2014-03-28 01:10] jlouvel opened #895 "Add Guava extension"
Now that we are based on Java 6, no reason to not consider integration with the popular Guava library:
https://code.google.com/p/guava-libraries/

Potential features:
- HashingRepresentation
- CountingRepresentation
- Cache API to support our future CacheService

@Tembrel Do you have any other idea that would make such extension more useful?

[2014-03-28 01:13] jlouvel opened #896 "Add CBOR support to Jackson extension"
Suggested by Jackson lead dev, available in Jackson 2.4:
http://cbor.io/
https://github.com/FasterXML/jackson-dataformat-cbor

#workload: 2h (with tests)

[2014-03-28 09:25] ghost opened #897 "Javadoc : add mentions in the header"
Forked from #874

Suggestion : Restlet Framework, version number
# workload: 1h (see javadoc documentation http://docs.oracle.com/javase/7/docs/technotes/tools/windows/javadoc.html)

[2014-03-28 09:27] ghost opened #898 "Automate java version selection depending on the version of the restlet framework"
Forked from #874 : java 6 for 2.2, java 7 for 2.3 and above
# workload: 1h analysis + 3h implementation

[2014-03-29 01:01] #867 closed, assigned to nobody

[2014-03-30 18:21] jlouvel opened #902 "Support Vert.x environment"
Consider support of Restlet API within Vert.x environments. See discussion:
http://restlet.tigris.org/ds/viewMessage.do?dsForumId=4447&dsMessageId=3058658

See also integration with RxJava:
https://github.com/vert-x/mod-rxvertx

[2014-03-31 13:37] #883 closed, assigned to thboileau

[2014-03-31 13:40] #832 closed, assigned to thboileau

[2014-04-01 06:21] #891 closed, assigned to swannvichot

[2014-04-01 15:22] #741 closed, assigned to nobody

[2014-04-01 15:32] #866 closed, assigned to thboileau

[2014-04-01 15:32] #868 closed, assigned to thboileau

[2014-04-07 06:14] thboileau opened #903 "Missing default values for DefaultSslContextFactory attributes."
see http://restlet.tigris.org/ds/viewMessage.do?dsForumId=4447&dsMessageId=3075894.

According to the javadocs of the DefaultSslContextFactory, some default values must be set, but at least for the keyManagerAlgorithm, this is not the case.

[2014-04-10 09:01] emas80 opened #905 "Forgotten logs ??"
Hi, I just updated to version 2.2.0, and suddenly I started getting A LOT of logs like

isCompatible false
createObjectMapper
isCompatible true

without any clear context and any clue about where are those lines of logs.
This keeps going on and on every few seconds, maybe related to the requests that come.
I didn't change anything else on my application, log4j property file is the same as before,

[2014-04-10 15:59] jkeljo opened #906 "NIO SSL client/server sometimes fails to process data after a handshake"
I've observed this connecting to the NIO SSL server on Android 4.0.4 from Chrome or Postman, however my investigation suggests that the problem is not unique to Android or to the server side.

Typically I'm seeing the first request to a given server succeed, and subsequent requests time out. The difference between successful and failed requests appears to be how the handshake goes:
- If the last h

[2014-04-12 21:35] jlouvel commented on #48
From original ticket:

Nic Pottier sent a detailled and interesting feed-back to the list on 15 Dec 2006.  We should review the API for potential improvements in the area of parameter extraction and validation.

Some pointers given by Thierry Boileau:
- [Struts Validator" (based on Jakarta Commons Validation)](http://struts.apache.org/1.2.9/userGuide/dev_validator.html)
- [Jakarta Commons Validati

[2014-04-15 14:36] x12a1f opened #907 "Incorrect port when tomcat is behind an Apache proxy"
When a restlet (2.2.0) application is running on tomcat behind an apache proxy, the port number in the Reference returned by Resource#getReference() is incorrect. This Reference uses the port tomcat is listening on instead of the port apache is listening on.

Apache is correctly configured to pass this port to tomcat as described here : http://tomcat.apache.org/tomcat-7.0-doc/proxy-howto.html

Acc

[2014-04-16 18:54] jgustie opened #908 "EntityClientHelper prevents Directory negotiation"
I am seeing an issue where the `FileClientHelper.handleEntityGet` method is succeeding in a way that breaks negotiation through a `Directory`. When an exact file is not found, the helper tries locating a sibling file with the same base name and compatible metadata (using `Variant.isCompatible`), the directory is trying to perform a similar negotiation at a higher level but ends up with an incorrec

[2014-04-24 14:19] thboileau opened #910 "Patch default implementation issues"
- it does not take into account the ConverterService#applyPatch implementation

[2014-04-30 22:16] #770 closed, assigned to jlouvel

[2014-04-30 22:23] jlouvel opened #911 "Clean System.out traces noticed in the code"
Check master branch as well.

Assigned to @thboileau

[2014-04-30 22:36] jlouvel opened #912 "Fix usage of deprecated classes due to library upgrades"
We have quite a bit of warnings in Eclipse, need to clean that.

[2014-05-01 00:37] jlouvel opened #913 "Support Boon JSON converter"
Interesting JSON library with impressive performance, integrated in Groovy 2.3:
https://github.com/bura/json-benchmarks

[2014-05-01 06:57] #897 closed, assigned to thboileau

[2014-05-01 07:06] #911 closed, assigned to thboileau

[2014-05-01 07:10] #905 closed, assigned to thboileau

[2014-05-01 10:19] #903 closed, assigned to thboileau

[2014-05-01 10:43] #892 closed, assigned to thboileau

[2014-05-01 13:52] #871 closed, assigned to thboileau

[2014-05-01 13:56] #865 closed, assigned to thboileau

[2014-05-02 05:20] jlouvel opened #914 "Factorize the APISpark metamodel classes in internal packages"
Currently we seem to have two models living in parallel in both:
- org.restlet.ext.apispark.internal.info
- org.restlet.ext.apispark.internal.model

[2014-05-05 14:34] #898 closed, assigned to thboileau

[2014-05-08 19:57] thboileau opened #915 "Refresh agent.properties file"
suggested by Daz, cf http://restlet.tigris.org/ds/viewMessage.do?dsForumId=4447&dsMessageId=3077839

[2014-05-12 18:29] kigero opened #916 "Callbacks not triggered"
Using the HttpAdapter, when making a client call to a server that is unreachable an asynchronous callback is never triggered.  The error is logged, but the callback is not called.

I tracked this down to org.restlet.engine.adapter.ClientAdapter.commit, specifically lines 90-108:

[code]

The exception shown below is thrown when httpCall.getStatusCode() is called, the catch block logs the error, bu

[2014-05-21 22:14] dbaq opened #919 "Restlet 2.2.1 data truncated with JsonpFilter"
I am facing an issue, I am trying to return a JsonP representation if the callback parameter is present.

To do so I am using the JsonpFilter built in:

[code]

Everything looked fine, until I saw that my data was truncated. Just a few characters are missing, that match the number of character added by the filter (test({status:200,body:{)

[code]

After the filter, if I get the entity as a text, I

[2014-05-21 22:16] dbaq opened #920 "Restlet 2.2.1 data truncated with JsonpFilter"
I am facing an issue, I am trying to return a JsonP representation if the callback parameter is present.

To do so I am using the JsonpFilter built in:

[code]

Everything looked fine, until I saw that my data was truncated. Just a few characters are missing, that match the number of character added by the filter (test({status:200,body:{)

[code]

After the filter, if I get the entity as a text, I

[2014-05-22 04:28] jlouvel opened #921 "StackOverflowError with simple app and JavaEE/Jetty"
Encountered by Tony Tam: I’ve followed two tutorials but keep getting this.
http://numberformat.wordpress.com/2011/02/20/restlet-hello-world/

(updated the restlet to 2.2.1)

HTTP ERROR 500

Problem accessing /app/hello. Reason:

[code]

Caused by:

java.lang.StackOverflowError
    at java.io.UnixFileSystem.getBooleanAttributes0(Native Method)
    at java.io.UnixFileSystem.getBooleanAttributes(Uni

[2014-05-31 14:20] srs opened #922 "JaxRs multivalue query-params gives list with null element"
I do the following in a JaxRs resource (using Restlet JaxRS extension):

[code]

When this is requested with multiple keys, then the array is returned as you would expect. Requesting the endpoint with key=a&key=b gives [a,b] as a result.

But, when no key is used in the url I would expect an empty list, but instead Restlet gives me a list with one "null" entry ([null]). Is this the right behaviour

[2014-06-05 23:19] #875 closed, assigned to jlouvel

[2014-06-16 19:15] dbaq opened #923 "CookieAuthenticator: getCredentialsCookie returns always a new cookie"
Hey guys,

I am facing an issue using the cookie authenticator, the getCredentialsCookie method is always returning a new cookie.

My request object contains the "Credentials" cookie but the response object doesn't contain it, so every time I've got a new cookie.

Any thoughts about that?

thanks for your help

[2014-06-24 12:38] jgustie opened #924 "ConverterHelper should use Type instead of Class"
I've hit this a few times where it would be nice if a converter helper knew about a parameterized type instead of just the erased type (e.g. the conversion for a `List<Foo>` has different representations then the conversion for a `List<Bar>`). Currently this can done with subclassing (e.g. `FooList implements List<Foo>`), which works but isn't always possible and doesn't scale very well for a lot

[2014-06-26 13:12] ldadams opened #925 "OData Batch Support"
It would be great to have odata batch support in the OData module.

http://www.odata.org/documentation/odata-version-3-0/batch-processing/

Thanks!

[2014-06-30 16:14] caleryn opened #926 "Regression in ServerServlet.createComponent()"
This issue in version 2.2+ appears to have been introduced in issue #876 and due to earlier issues with #767, #766.

Due to this issue it is no longer possible to use a Custom Component with ServerServlet, without using the restlet.xml mechanism. Regrettably this also fails silently, providing only 404s when the application is then called.

There is a workaround available in that the component can

[2014-07-04 15:05] thboileau opened #927 "HTTP server connectors influences the behavior of CookieSetting"
tested scenario:
- in a ServerResource, add a @post annotated method with the following cookie settings

[code]
- develop an application and run it using the internal connector, the Jetty one, the Simple, the Servlet one.
- according to the connector, some cookies are set, others don't
- the internal connector seems the most permissive one.

[2014-07-04 16:02] thboileau opened #928 "Cannot serialize a list of beans into CSV format using JacksonRepresentation"
as reported here http://stackoverflow.com/questions/24569318/writing-multi-line-csv-with-jacksonrepresentation, the current JacksonRepresentation does not take into account correctly the serialization of collection of beans to CSV format.
The objectWriter is not correctly set, and in addition it can't be correctly overriden by specifying the csv schema.

As workaround:

[code]

[2014-07-11 12:38] quilicicf opened #929 "Bug: constructor generating NPE"
One of the constructors of ClientResource returns a NullPointerException each time.
##### Scenario

This constructor is called:

[code]

It calls:

[code]

Then:

[code]

Which means the object response is null and the method _SetRequest()_ is called upon it resulting in the NPE.
##### Suggestion:

Replace this(request, null); by this(request, new Response());

[2014-07-11 12:50] #929 closed, assigned to thboileau

[2014-07-21 08:59] tliron opened #931 "Uncaught exceptions may cause LogFilter to fail, with dire consequences"
This bug took months to isolate.

LogFilter.afterHandle is where hits are logged (NCSA-compatible), but some of the code paths therein may throw an exception. When this happens, the log fails, of course, but the more serious problem is that the rest of Restlet doesn't deal well with the failure. This caused two serious problems:

1) Jetty threads were not closed, and we reached resource starvation

[2014-07-22 15:59] bitsofinfo opened #932 "NullPointer in OData code generation"
Running this command against (see below) document (xml), available at http://localhost:8888/$metadata, results in the error below. This is due to the assumption that all ComplexType declarations include a schema attribute.

[code]

ERROR:

[code]

SOURCE XML DOCUMENT

[code]

[2014-07-25 06:41] davsclaus opened #934 "Restlet 2.2.1 - pom.xml has invalid version in the ext.servlet"
I upgraded Apache Camel to use 2.2.1 release for our restlet integration.

I got a problem with an example of ours that uses the spring extension, which brings in the servlet extension.

In the pom.xml it has

[code]

Notice the version has ${lib-e4-version} which hasn't been set to a version number.

eg its the pom.xml from this location

[code]

[2014-07-30 12:53] quilicicf opened #936 "Bug: android edition not working"
Forked from [APISpark #1418](https://github.com/restlet/apispark/issues/1418)

Android edition does not work. Neither in version 2.2 nor in 2.3.
Exception caught during client resource call:

![slection_008](https://cloud.githubusercontent.com/assets/5594303/3749142/7524a8c8-17e8-11e4-971f-c409383b2aba.png)

[2014-08-05 15:09] #936 closed, assigned to thboileau

[2014-08-06 10:00] thboileau opened #937 "The Restlet internal connector only serves from one thread"
Reported by Robert Barnett:
http://restlet.tigris.org/ds/viewMessage.do?dsForumId=4447&dsMessageId=3086285

[2014-08-06 17:06] mcartaud opened #938 "Restlet Framework eclipse installation"
The installation of Restlet Framework cannot be completed through the eclipse p2 repository :

![capture du 2014-08-06 10 04 07](https://cloud.githubusercontent.com/assets/2682778/3830624/fb611f4a-1d8b-11e4-95e3-5282e45e45bc.png)

[2014-08-07 15:10] thboileau opened #939 "Add Java SE embeded edition"
Reported in StackOverFlow: http://stackoverflow.com/questions/25179243/com-sun-net-httpserver-httphandler-classnotfound-exception-on-java-embedded-runt

[2014-08-08 08:20] #932 closed, assigned to thboileau

[2014-08-08 14:34] #931 closed, assigned to thboileau

[2014-08-18 10:01] mlorant opened #941 "CookieAuthenticator documentation is incomplete"
The documentation for the [CookieAuthenticator class](http://restlet.com/learn/javadocs/2.3/jse/ext/org/restlet/ext/crypto/CookieAuthenticator.html) seems not finished. Indeed, at the end of the class description, there is:

[2014-08-19 08:25] thboileau opened #942 "Eclipse update site is out of date"
As reported via StackOverFlow:
http://stackoverflow.com/questions/25231314/restlet-eclipse-update-site-out-of-date

The bundles of release 2.2.2 are here but the metadata seems incorrect.

[2014-08-19 08:38] #942 closed, assigned to thboileau

[2014-08-19 16:25] thboileau opened #943 "Support of asynchronous calls seems to have been removed"
Reported here:
http://stackoverflow.com/questions/25171587/restlet-client-2-2-non-blocking-asynchronous-request-with-a-callback

[2014-08-20 03:41] dadocolussi opened #944 "Set-Cookie header duplicated in HTTP response"
I'm running Restlet with JAX-RS on Google App Engine. I have a simple test resource that adds one cookie to the response. I expected to see one ```Set-Cookie``` header in the HTTP response, but instead the HTTP response has the same cookie twice.

[code]

[code]

[2014-08-21 13:46] edouardmercier opened #945 "Swagger support for the Google App Engine (GAE)?"
Hello.

First of all, congratulations for the good job on Restlet, and the new support for Swagger.

I've been trying to play with this new extension (`org.restlet.gae:org.restlet.ext.swagger`) through Restlet `v2.3-SNAPSHOT`. Here is a feedback regarding issues that I've been facing:
1. the POM references the `javax.ws.rs:javax.ws.rs-api:2.0.0` which does not exist ; the one existing seems to be

[2014-08-22 04:07] grammophone opened #946 "OData Edm.DateTime properties are sometimes parsed as null"
From the OData specification, (http://www.odata.org/documentation/odata-version-3-0/atom-format) the form of an Edm.DateTime field for both Atom and JSON is:

yyyy “-” mm “-” dd “T” hh “:” mm [":" ss["." fffffff]]

It means that both milliseconds and seconds are optional. However, the Restlet OData client reads correctly only full forms or forms with no milliseconds component. If the seconds are m

[2014-08-24 17:53] RovoMe opened #948 "Location header field in JAX-RS response is set twice"
On returning a `Response` object for a created resource (usually from a HTTP POST or PUT request) in a JAX-RS service where the response is created like this
[code]
which is basically a shortcut for
[code]
the HTTP header of the received response contains multiple `Location` header fields.

To be a bit more specific:
Imagine I have a JAX-RS product CRUD service running at `https://localhost:9876/r

[2014-08-24 18:23] RovoMe opened #949 "@ApplicationPath annotation supported?"
JAX-RS allows to define a base-path of a REST application via the [`@ApplicationPath`](http://docs.oracle.com/javaee/7/api/javax/ws/rs/ApplicationPath.html) annotation to a subclass of `javax.ws.rs.core.Application`.

However, having a custom `javax.ws.rs.core.Application` which runs in a Jetty server (no servlet-container) this annotation is not considered and the path contained in the value of t

[2014-08-25 17:00] #937 closed, assigned to thboileau

[2014-08-29 16:00] edouardmercier opened #950 "Swagger tutorial / example / sample ?"
Thank for the good job on Restlet, and the new support for Swagger.

I'm not a Restlet expert, and I'm currently struggling to have a descent Restlet JAX-RS application generating the Swagger web services definition working.

I have not been successful at searching for some example, sample or even better tutorial, so that I can open a project and see Restlet in action with Swagger. Could someone p

[2014-09-05 05:50] kerbymart opened #951 "Restlet truncates response (Redirector)"
I tried this code below at localhost, the expected was that the reponse to be complete but its not like this:

[code]

Notice the broken div tag.

Code:

[code]

[2014-09-09 01:22] swannvichot opened #952 "Error when trying to Run 'Hello World' application (on Mac)"
I tried following the step by step video tutorial: https://www.youtube.com/watch?v=xDLpgCWIfug&list=UU-WZeGkrA6D9zbPjv3Cexfg
everything goes well but then I try to Run the application and I get this error:
![screen shot 2014-09-08 at 6 18 29 pm](https://cloud.githubusercontent.com/assets/6206114/4195429/60909bdc-37bf-11e4-9c90-255f29a99bdc.png)

@thboileau Let me know if you need more screenshots

[2014-09-09 09:59] avaud opened #953 "Unable to get correct format for date with Odata 2.0 service"
Hello,

We're trying to implement a client for an odata service using 2.0 version of odata.

From official spec we can see that format should be:
datetime’yyyy-mm-ddThh:mm[:ss[.fffffff]]‘ (keyword "datetime" and no timezone)

http://www.odata.org/documentation/odata-version-2-0/atom-format
http://www.odata.org/documentation/odata-version-2-0/overview

However, we can not make restlet to use the co

[2014-09-11 19:58] edouardmercier opened #954 "Weird issue on the GAE edition: "The GAE edition is unable to get an InputStream out of an OutputRepresentation""
Hello dear Restlet contributors.

I'm currently facing a production issue, while embedding Restlet into a GAE application, for exposing web services.

My configuration : GAE v1.9.0 hosting Restlet v2.2.1, using the GAE edition. My application is under some kind of pressure, because it serves about 200 web service requests a second.

As a series of errors, all of a sudden, in a short period of time

[2014-09-17 13:59] quilicicf opened #955 "Retrieve descriptions and names during introspection"
The APISpark Introspector tool should be able to retrieve descriptions and names from major components of the API (Resources, Operations, QueryParameters, Sections).
##### Design:
- APISpark extension:
  - Create class DocumentedServerResource with:
    - method public String getDescription: to be overriden, describes the Resource
    - method public String getName: gives a name to the Resource, u

[2014-09-18 15:16] thboileau opened #956 "Fix dependencies of Swagger extension."
This extension wronly references the "e4" extension.

[2014-09-18 15:16] #956 closed, assigned to thboileau

[2014-09-23 12:14] epgrubmair opened #957 "Client.handle method throws ConnectionException in case no server available, but declares no checked Exception"
In case there is no server running, Client.handle(Request request) throws java.net.ConnectionException allthough the Java doc tells that there will be no checked Exception thrown.
java.net.ConnectionException is a java.io.IOException and thus a checked Exception

here is a stacktrace:
2014-09-23 13:48:40,462 (002166358) [022] WARN : org.restlet - An error occurred during the communication with the

[2014-10-02 09:05] ghost opened #958 "add swagger 2.0 extension"
Add extension to support swagger 2.0 spec : https://github.com/wordnik/swagger-spec/blob/master/versions/2.0.md

[2014-10-09 08:39] Maia-Everett opened #959 "IPv6 host names are not checked for brackets when using HttpRequest with ServletCall"
`ServletCall.getHostDomain()` simply returns the result of `getServerName()` from the `HttpServletRequest` without surrounding it with brackets.

Unfortunately, in combination with the `HttpClient` constructor, this results in cases where `hostRef` contains a malformed URL, since the `hostRef` URL is assembled by using `StringBuilder` (why?!) with everything concatenated without escaping.

This ca

[2014-10-16 06:35] x12a1f opened #964 "The Jackson extension uses javax.xml.stream which is not available on Android."
When running Android lint on my code it says:

`..../org.restlet.ext.jackson-2.2.1.jar: Invalid package reference in library; not included in Android: javax.xml.stream. Referenced from org.restlet.ext.jackson.JacksonRepresentation.`

It seems the Jackson extension is using parts of `javax.xml.stream` which is not on Android:

https://github.com/restlet/restlet-framework-java/blob/2.2/modules/org.r

[2014-10-22 11:37] komasoftware opened #965 "ClientProxyGenerator fails with GWT 2.7-beta1"
Hi

GWT 2.7-beta1 was just released see https://groups.google.com/forum/#!topic/google-web-toolkit-contributors/vCELYDM2_tE

I am trying to build my project but I cannot generate the client side proxies :

[code]

[2014-10-22 20:58] #683 closed, assigned to thboileau

[2014-10-23 00:41] Krasnyanskiy opened #966 "How can I configure an Engine to connect my custom MediaType with DTO class?"
Hi guys!

I'm stuck with Restlet Engine configuration. Let me show my simple code

[code]

But I'm get `null` entity and this

[code]

How can I retrieve an entity regarding to the proper MediaType?

Thanks,
Alex

[2014-10-24 00:52] jlouvel opened #968 "Automatically exhaust response entities returned by ClientResource"
Currently if the response entity isn't consumed or if exhaust() isn't called explicitly, the connection is blocked.

The idea is to have a default setting that would automatically exhaust() the entity upon release() of the ClientResource. Note that today we only keep track of the latest response, not the history of all calls.

Reported by @stoffeg

[2014-10-26 21:48] Krasnyanskiy opened #970 "JAXB issue with Restlet on Android platform"
Hi guys,

I’m developing a REST client, which interacts with Jersey RESTful ws, which is use DTOs with JAXB annotations. And I need to make that client embeddable to server-side applications and to Android platform as well.

When I write a simple client for the server-side than everything is ok. But there is an issue with Android. After some research I founded a few limitations of Android platform

[2014-10-28 13:18] boillodmanuel opened #971 "Improve null handling when adding custom header"
Actually, `request.getHeaders()` could return null.
For example:
[code]

[2014-10-29 10:24] x12a1f opened #973 "HTTPS is not possible on Android when using ext.httpclient"
When using the ext.httpclient it is not possible to use https. On Android it seems to be disabled:

I am using `org.restlet.ext.httpclient` (because I need to use PATCH which is not supported by the standard http client) and register it in my Android application:

[code]

but now I get the following exception:

[code]

It seems https support is disabled on Android:

https://github.com/restlet/rest

[2014-10-31 09:28] #785 closed, assigned to nobody

[2014-10-31 11:29] #946 closed, assigned to nobody

[2014-11-01 18:38] jlouvel opened #976 "Support lower-level Jackson processing in extension"
Currently, the Jackson extension uses the data binding layer which is not always suitable.

Jackson also has a lower level layer with a fast streaming Java API that could be used/exposed as Restlet representation as well:
http://fasterxml.github.io/jackson-core/javadoc/2.4/

[2014-11-06 16:45] awhughes opened #977 "Cleared"

[2014-11-07 15:28] #965 closed, assigned to jlouvel

[2014-11-09 19:06] #793 closed, assigned to thboileau

[2014-11-13 16:04] #186 closed, assigned to thboileau

[2014-11-15 03:09] Krasnyanskiy opened #980 "Issue with FasterXML"
Can't find why my code throws an exception. Here is it.

[code]
Seams that the problem is in FasterXML binding. What is interesting that my request successfully executed and I see the result on the server.
[code]
Any ideas why I got that error?

[2014-11-16 20:18] stnagel opened #981 "ext.jaxrs SecurityUtil not finding certificates"
I'm using the JAX-RS extension in a servlet container and injecting a @Context SecurityContext into my Resource to gain access to the subjectDN of the the client's certificate.  I've included a CertificateAuthenticator and it appears that the certificate information is making it correctly into the Request.ClientInfo Principals and User fields.  However, the JAX-RS SecurityUtil class is trying to e

[2014-11-18 20:36] Orscrider opened #983 "Unrecognized SSL message, plaintext connection?"
I setup a simple HTTPS server with a custom certificate using the Java SE 2.2 framework. Whenever I try to connect to the server through a browser (haven't tried the client API yet), it can't connect and throws the following error (not on default debug level):

[code]

HTTP works fine. The first time I tried it, I trusted the certificate and it worked though. Btw is there a way to guard everything

[2014-11-20 22:01] komasoftware opened #984 "XSD linked in javadoc returns 404"
The javadoc link to the XSD schema file for describing a component returns 404.

Here's the javadoc link:
 http://restlet.com/technical-resources/restlet-framework/javadocs/2.2/jse/api/org/restlet/Component.html?is-external=true
and this is the link to the XSD file you find in the javadoc:
 http://restlet.com/schemas/2.0/Component
This link returns 404.

[2014-11-22 01:54] #827 closed, assigned to quilicicf

[2014-11-22 02:49] #161 closed, assigned to thboileau

[2014-11-22 02:51] #914 closed, assigned to boillodmanuel

[2014-11-22 02:56] #958 closed, assigned to boillodmanuel

[2014-11-25 02:08] jlouvel opened #986 "Maven repository sometimes return 200 instead of 404"
See original report here:
https://issues.sonatype.org/browse/NEXUS-7704

[2014-11-27 13:05] #955 closed, assigned to quilicicf

[2014-11-28 14:10] komasoftware opened #987 "AccessControlException using swagger extension with GAE Edition"
I am trying out the swagger extension on GAE but I run into AccessControlException.

[code]

`org.restlet.ext.apispark.internal.reflect.ReflectUtils.getAllDeclaredFields` calls `currentType.getDeclaredFields` which is not in the JRE white list for GAE :

[code]

[2014-11-28 15:49] #987 closed, assigned to nobody

[2014-11-28 19:37] pyxide opened #988 "Directory Issue with drive letter (Windows) on 2.2.3"
Hello,

the method LocalReference.createFileReference(rootDirectory) does not return a valid root path for a Directory restlet with version 2.2.3, contrary to version 2.2.2. There is a workaround by tweaking the URI manually (use file:///C:/ rather than file:///C%3A/) and passing this string to the Directory constructor.

Test 2.2.2

[code]

Test 2.2.3

[code]

Junit Test Case

[code]

[2014-12-05 22:55] sunlab opened #991 "Can I develop restful server on android?"
Hi, I have test using restlet to develop a restful service on android. But it doesn't work. I use the 2.2.3 version.
Could you please tell me if it work on android ? if so could you please give me a demo exmaple?

thanks.
Jerry

[2014-12-09 16:04] #926 closed, assigned to thboileau

[2014-12-09 16:55] thboileau opened #993 "Exceptions are not fully deserialized"
tested scenario:
- create a subclass of Exception, with the following annotation (the exception will be serialized by default, and not the status):

[code]
- define an annotated interface that declares this exception

[code]
- define a ServerResource that implements the interface, and that only throws the exception
- use the ClientResource and wrap the interface:

[code]

The exception's message a

[2014-12-09 18:32] #986 closed, assigned to thboileau

[2014-12-09 20:09] #950 closed, assigned to nobody

[2014-12-09 23:52] Tembrel opened #995 "Consider whether JacksonRepresentation fields should be volatile"
Currently [many of the fields of JacksonRepresentation](https://github.com/restlet/restlet-framework-java/blob/master/modules/org.restlet.ext.jackson/src/org/restlet/ext/jackson/JacksonRepresentation.java#L83-L109) are not marked volatile or `@GuardedBy` a lock. If JacksonRepresentation instances can be accessed from more than one thread, this is probably a bug.

[2014-12-10 04:10] #995 closed, assigned to thboileau

[2014-12-10 09:02] #984 closed, assigned to thboileau

[2014-12-10 17:13] #964 closed, assigned to thboileau

[2014-12-11 08:20] #934 closed, assigned to thboileau

[2014-12-11 10:07] davsclaus opened #996 "Performance drops with restlet sync vs async client handler (report from Apache Camel)"
Sorry for creating a ticket here at github, but this is very fast and easy to get in touch.

We got reports at Apache Camel that upgrading from restlet 2.1.x to 2.2.x has caused performance drawbacks from users.

We haven't had time to look into this. But just wanted the heads up here.

http://camel.465427.n5.nabble.com/Delayed-request-processing-with-Camel-Restlet-2-14-0-td5759915.html

I suspect

[2014-12-11 12:43] #954 closed, assigned to thboileau

[2014-12-20 03:49] Tembrel opened #997 "StatusService#toStatus(Status,Resource) should be defined in terms of other #toStatus"
Currently both `toStatus` variants of StatusService are defined in terms of their corresponding (deprecated) `getStatus` equivalents, and `getStatus(Status, Resource)` is defined in terms of `getStatus(Status, Request, Response)`. If `toStatus(Status, Resource)` were defined in terms of `toStatus(Status, Request, Response)`, instead of `getStatus(Status, Resource)`, then it would only be necessary

[2014-12-29 17:57] stephencpope opened #998 "Reference scheme reverts to http when using https"
Originally reported on stackoverflow.com: http://stackoverflow.com/questions/27663181/restlet-reference-scheme-reverts-to-http-when-using-https

I have a simple Restlet application using the embedded org.restlet.Server in restlet-jse-2.2.3 which worked fine with HTTP. Following the Restlet book, I converted it to use HTTPS instead. However, within my ServerResource instances, getReference() is ret

[2014-12-29 20:23] jgustie opened #999 "Template index matching mode"
We have a lot of template patterns that look like:

[code]

When we enable extension tunneling this results in an unfortunate URL syntax for the index resource: `.../foo/.json`

Does it make sense to have something like a `Template.MODE_INDEX` that only matches the trailing slash if tunneling is disabled but matches the trailing slash OR an extension list if extension tunneling is enabled?

[2014-12-29 20:52] jgustie opened #1000 "CallResolver support for extensions"
Another feature request related to extension tunneling: exposing the extensions (including the dot if extensions are present) as a variable. A further enhancement would be to only include extensions that map back to a specific type of metadata. For example: `/foo/bar{rx}` would be the request resource reference extensions or `/foo/bar{rxl}` would be only language metadata extensions; if the reques

[2014-12-30 18:45] ggrune opened #1001 "OSGi Environment Eclipse Update-Site Version 2.3 corrupt"
The update site definition on http://p2.restlet.com/2.3 referes to a version 2.3.0.snapshot-v20140918-1456 but the site contains only jars for version 2.3.0.snapshot-v20141217-1648
Please update the definition.

[2015-01-01 13:05] #890 closed

[2015-01-01 13:09] Atlanssia commented on #890
OK, I get it, thank you for your reply.
and I will close this issue now

[2015-01-05 14:01] komasoftware commented on #945
Any ideas on how to move this forward ?

[2015-01-05 22:41] edouardmercier opened #1002 "Issue with a logged exception in method "ParameterList$AbstractParamGetter.convertWithConverterUtils()""
Hello.

I'm currently experiencing an issue when using JAX-RS with Restlet v2.3 under a Google App Engine instance (v1.9.17), when a POST web service exposing an ``enum``as a parameter is being declared. The Restlet unmarshalling process which seem to be coupled with Jackson prints a

[code]

I have taken a look at the code, and have detected the following snippet in file `restlet-framework-java/m

[2015-01-06 08:25] thboileau commented on #1002
Hello @edouardmercier , I see the exception trace, and the printStackTrace which must be removed I think. As I don't really reproduce the same behaviour, I would like to know if you can send me some sample code (juste the signature of the annotated method you invoke, and some details about the request).
Best regards.

[2015-01-06 08:58] thboileau commented on #945
Curiously, I've made a test using directly this method in a gae application, it worked for me.
I have to spend more time.

[2015-01-06 10:50] edouardmercier commented on #1002
@thboileau: the method signature is (I know, the POST is not very clean, it should be use `@FormParam` instead):
[code]

[2015-01-06 11:02] komasoftware commented on #945
@thboileau my guess is that it depends on the complexity class structure of the incoming representation or return representation. These are the classes that will be introspected, not ?
The failing call is RepresentationInfo.introspect.
If you are sending/returning just a StringRepresentation, you might be lucky.

[2015-01-06 13:13] thboileau commented on #1002
Hi @edouardmercier, thanks for the input, I've removed the useless calls.
I'm still unable to reproduce exactly your issue, but I'm not sure this is quite important.
I've tried your code with a POST request with a wrong value for the "status" parameter.

[2015-01-06 14:41] thboileau commented on #945
I've made a test using a hand coded project exported to GAE. There is the code to the server resource.

[code]

[2015-01-06 14:58] thboileau commented on #945
@edouardmercier, I wonder if this may be due to the version of GAE JDK. Could you try again using the 1.9.15 jdk?

[2015-01-06 15:15] komasoftware commented on #945
I have tried your code, slightly modified to fit into my project. This is what I am getting :

```class sun.reflect.generics.reflectiveObjects.ParameterizedTypeImpl\n  - cannot get fields due to: access denied (\"java.lang.RuntimePermission\" \"accessClassInPackage.sun.reflect.generics.reflectiveObjects\")```

[code]

[2015-01-06 15:23] komasoftware commented on #945
AFAIK, this is not a new or recent restriction, it has always been there, cfr the JRE white list over here https://cloud.google.com/appengine/docs/java/jrewhitelist

IMO, there is no way around this restriction.

But I am not very familiar with Swagger, but this introspection process must be a one-time operation since your class structures won't change once your app is deployed.

So I am coming ba

[2015-01-06 15:33] komasoftware commented on #945
with JSON as response :

HelloResource class com.klawt.server.resources.impl.HelloResource
  - annotated
  - conditional
  - existing
  - negotiated
  - variants
  - application
  - context
  - request
  - response

Parameters class com.klawt.server.resources.impl.HelloResource$Parameters
  - serialVersionUID
  - DEFAULT_CAPACITY
  - EMPTY_ELEMENTDATA
  - elementData
  - size
  - MAX_ARRAY_SIZE

[2015-01-06 15:37] thboileau commented on #945
Hi Koen,

I get this trace:
[code]

[2015-01-06 15:48] komasoftware commented on #945
- sure that you are running on the GAE devserver ?
 - Do you see the ```com.google.appengine.tools.development.DevAppEngineWebAppContext``` in the call stack when you break ?

I have the HelloResource attached to the router of a Application that is started from the web.xml. Then I start the GAE devserver.

[2015-01-06 15:49] thboileau commented on #945
ah, I've just tried by deploying to the GAE environment, not in the local development server. Let me check.

[2015-01-06 19:19] kerbymart opened #1003 "Cannot Test Restlet with Arquillian"
This code when run from Arquillian test:
[code]

Throws this error:
[code]

[2015-01-07 08:11] kerbymart commented on #1003
@jlouvel after some experiments I have made a working Arquillian Restlet test here: https://github.com/textquo/dreamcode/blob/master/dreamcode-gae/src/test/java/com/textquo/dreamcode/server/DreamcodeApplicationTestCase.java

[2015-01-11 04:13] InfoSec812 commented on #532
I just spent 3 days really excited about how well it was going porting my application from Guice/Jersey/Jetty to Restlet/DeltaSpike and then I hit this problem... VERY SAD.... :(

[2015-01-12 12:52] thboileau commented on #532
If you're application is developed  using Restlet, you can still access the current request and headers (see `Request.getHeaders()` method).

[2015-01-12 14:04] InfoSec812 commented on #532
I am developing using ReSTlet, but I I am using the JaxRsApplication... How do I get the Request object inside of the JAX-RS resource? Is there an injection annotation for that?

[2015-01-12 14:10] komasoftware commented on #532
http://restlet.com/technical-resources/restlet-framework/javadocs/snapshot/gae/ext/org/restlet/ext/servlet/ServletUtils.html

public static HttpServletRequest getRequest(Request request)
Returns the Servlet request that was used to generate the given Restlet request.

[2015-01-12 14:11] InfoSec812 commented on #532
OK, thanks for the help!

On Mon, Jan 12, 2015 at 9:10 AM, Koen <notifications@github.com> wrote:

[2015-01-12 16:54] philippeu opened #1004 "npe in ClientInvocationHandler"
ClientInvocationHandler is expecting a Status annotation and will throw NPE if not present.

[code]
in addition, if the annotation is there, it is expecting the response is StatusInfo

[code]

[2015-01-13 22:18] kerbymart commented on #156
@thboileau @jlouvel Not sure what is the issue here (as it is still Open) I have a library that uses XStream with GAE, perhaps we can integrate it here if needed.

[2015-01-13 22:19] kerbymart commented on #1003
@jlouvel Do you want to integrate Arquillian with Restlet testing?

[2015-01-14 16:12] thboileau opened #1005 "move Directory class to HTML extension"

[2015-01-14 17:26] johnjaylward opened #1006 "FormDataSet not properly serializing text/plain files"
if I want to attach a file to a form post that is MediaType.TEXT_PLAIN, the serializer improperly encodes it as a form field with no file name in the disposition:

[code]

This creates a form part with:
[code]

the correct form part should be:
[code]

When the Apache FileUpload parser reads the post, there is no filename, and the "formField" property is set to true.

If I set the MediaType to Medi

[2015-01-14 18:13] thboileau commented on #1006
Hi,

thanks for reporting this issue.
The ug is located in the FormDataSet class, it sets the disposition filename according to the media type of the representation which is should be fixed. I take care of that.

[2015-01-15 08:21] thboileau commented on #1006
Thanks for reporting this issue.
I've fixed the 2.3 and master (futur 3.0) branches.

[2015-01-15 08:21] #1006 closed

[2015-01-16 09:59] thboileau commented on #156
Hello,
thanks for the heads up. I've just tried and it works for me. we can close this issue.

[2015-01-16 09:59] #156 closed

[2015-01-17 11:25] thboileau commented on #1004
Hello,
thanks for reporting the NPE, I've fixed that in 2.3 and master branches.
Regarding the second issue, I'm not sure  this is a problem, since the code checks before that the ThrowableAnnotationInfo is serializable or not. Do you have any test case in mind?

[2015-01-17 15:01] thboileau opened #1007 "In GWT edition, the entity of the request is not received by the server side."
Calling `clientResource.post(Object)` fails as the the Resource.toRepresentation method supports only the instances of the Representation class.
@jlouvel , Should we log a trace or send an exception?

[2015-01-17 15:31] thboileau commented on #999
Hi Jeremy,
If I understand the issue, in case tunneling is unabled, "/foo/.json" will match the "/foof/{id}" template.
This won't happen if you use the other syntax based on the query parameter:
"/foo/?media=json"

[2015-01-17 16:12] thboileau commented on #1001
Hello @ggrune , thanks for reporting this issue. This must be fixed now.

[2015-01-17 16:12] #1001 closed

[2015-01-17 16:23] thboileau commented on #1000
I find the idea nice, thanks Jeremy.
@jlouvel, what is your thinking about that?

[2015-01-17 16:41] thboileau commented on #997
Hello Tim,

I may be wrong, but I guess the intention was to wrap the newly deprecated methods `getStatus(*)` method, in case users have their own implementations of these methods.
If we implement `toStatus(Throwable, Resource)` by calling `toStatus(Throwable, Request, Response)`, the overriden `getStatus(Throwable, Resource)` won't be called.

[2015-01-17 16:54] thboileau commented on #998
Hi, thanks a lot for pointing this issue which is clearly a bug.
I think also the error is in the org.restlet.engine.connector.HttpsServerHelper class in the "start" method.

[2015-01-17 17:02] Tembrel commented on #997
You're *not* wrong, it's just that until `getStatus(*)` is removed, anyone overriding `toStatus(Status, Request, Response)` must also override `toStatus(Status, Resource)`. It's not hard to do, it's just that you have to know to do it.

Maybe the right move is to keep things as they are in 2.x, and to add a note saying what the default implementation of each `toStatus` is, and that it might be nec

[2015-01-17 17:53] thboileau commented on #998
Thanks a lot Stephen, the fix is available in the 2.3 and master branches.

[2015-01-17 17:53] #998 closed

[2015-01-19 09:47] thboileau opened #1008 "StreamClosedException when requesting for Yaml representations"
tested scenario:
 - application using the internal connector
 - using the Jackson extension
 - client asks for yaml representation of a Java bean

There is a stack trace on server side:

[code]

[2015-01-19 09:49] thboileau commented on #1008
This issue is not considered as high for two reasons:
 - the response is correctly sent
 - the internal connector is not suggested for production environment. Preferred connectors: the ones based on Jetty, Simple, or servlet container

[2015-01-19 10:28] thboileau opened #1009 "direct converters and connector configuration in Java"
- add typed setters for system parameters
- take care in case of enums
- add Application#converters/authenticators and remove magic discovery in Engine
- add Component#clients/servers and remove magic discovery in Engine
- document (in the [wiki](https://github.com/restlet/restlet-framework-java/wiki/Migration-to-3.0) for the moment)

[2015-01-20 03:21] philippeu commented on #1004
Hi,
Thanks for the quick fix!

For the second point, if tai == null, we go to that part of code

[code]

in my case, i don't have a Status annotation and i got a deserialization exception.

[2015-01-20 08:58] thboileau opened #1010 "Should Resource#getAttribute decode the value by default?"
It seems also that we could provide a Resource#getAttribute(String,boolean) in order to decode or encode.

[2015-01-20 09:54] thboileau commented on #1004
Hi Philippe,

something is not clear for me. I guess you have an annotated method in a service such as:
[code]

In your case, MyException inherits from the Exception class, and is doesn't contain any `@Status` annotation.
When the MyException is thrown, and because it is not annotated, the status service converts an instance of StatusInfo.
By doing so, on client side, you should really have an ins

[2015-01-20 20:23] stephencpope commented on #998
My pleasure, Thierry. As I mentioned I have a workaround at the application level so it is not impeding my own progress at this point although it would be great to have it fixed in an upcoming point release!

Stephen
________________________________________
From: Thierry Boileau [notifications@github.com]
Sent: Saturday, January 17, 2015 9:55 AM
To: restlet/restlet-framework-java
Cc: Pope, Stephen

[2015-01-20 22:23] jlouvel commented on #881
If time permit, let's consider it for 2.3.1

[2015-01-21 02:27] philippeu commented on #1004
Hi Thierry,
You are correct, after checking more carefully the code, I am overwritting getRepresentation() in StatusService, then I got this exception:

[code]

[2015-01-21 12:07] hshorter opened #1011 "Swagger extension: java.lang.Object not superclass of org.w3c.dom.Element"
I'm getting an exception for version 2.3 of the Swagger extension. It appears the new way the API Doc is built uses the Introspector which can't process interfaces. The full stack is pasted below. The API being used is from the OGF NML Topology model.

I have also seen the same exception for an RSS feed, where the return type is com.sun.syndication.feed.synd.SyndFeed. Again, this is an interface a

[2015-01-21 23:20] johnjaylward opened #1012 "File Upload with large files blocks and stops processing"
I have an integration test that looks like this:

[code]

This works fine for small files, but for one test file I have over 2GB, Restlet appears to lock up in the FileUploadBase.parseRequest method at line 347 : Streams.copy(item.openStream(), fileItem.getOutputStream(), true);

If it's not locking up, it's being extremely slow. Copying the file from one folder to another takes about 2 minutes, h

[2015-01-21 23:47] johnjaylward commented on #1012
well, the test case finally completed with a message: HTTP Status was 500 instead of 201. Reason: Unable to read the file sent, please try again.

The total time of execution for the 2GB file before failure was 747 seconds ~12.5 minutes

[2015-01-22 00:34] johnjaylward commented on #1012
Here is the full stack trace:
[code]

[2015-01-22 05:22] kugtong33 opened #1013 "Restlet in Apache Felix"
I am deploying a Restlet application in the Apache Felix environment and I am using `Protocol.HTTP` but it threw a warning and there are no http server running.

[code]

This is the code of the Restlet server:
[code]

These are the following tools I am using
[code]

Could you guys help me?

Thanks in advance.

[2015-01-22 08:53] templth commented on #1013
Hello,

I mean that it depends where you put the processing to create the component. In fact, the bundle containing server connectors need to be started before the bundle of restlet core itself.

You can use start levels to configure this or put the code to create the Restlet component in a framework listener to be sure that all bundles are started:

[code]

Thierry

[2015-01-22 09:14] thboileau commented on #1013
Nb:
I have a remark regarding the way you attach your application.

I would do the following instead:
[code]
Then the `SampleApplication` defines a name.

[2015-01-22 09:40] twilek opened #1014 "StackOverflow on very long URL:s"
We have noticed in our logs that we sometimes get stack overlow when people try to access our public restlet api with very long urls. The urls are not valid, but I think they shall give a bad request rather than a stack overflow exception.

The registration of the resource can look like this

router.attach("/users/profiles/{agent}/{profileName}", ProfileNameLookupResource.class);

And then the log

[2015-01-22 10:27] thboileau commented on #1012
Hi @johnjaylward, could you precise the version of RF and the edition (jse, jee, gae, etc)?

[2015-01-22 10:33] thboileau opened #1015 "have better granularity on logger"
Reported by @twilek

[2015-01-22 10:34] thboileau commented on #1014
Hi  @twilek, thanks for reporting this.
I've entered another issue (#1015) for the logger topic.

[2015-01-22 11:25] kugtong33 commented on #1013
Thanks guys for you response.

@templth:
What do you mean at 'it depends where you put the processing to create the component'?
Currently I am using the code in an ipojo bundle but there are problems using the `BundleActivator` so instead I put it this way using ipojo annotations:

[code]

And I implemented the Restlet library in the Apache Felix by using `bundle:bundle` goal of the `maven-bundle-

[2015-01-22 12:54] thboileau commented on #1013
@kugtong33, do you mean that you will segregate applications by port?
In that case, you can use the [VirtualHost](http://restlet.com/technical-resources/restlet-framework/javadocs/2.3/jse/api/) instead.
It allows to filter on several parameters (domain, server port, etc) and attach several applications.
[code]

[2015-01-22 13:09] templth commented on #1013
@kugtong33 Yes an activator is definitevely the right place to put your code ;-) However we need to take care about the Restlet auto-registration of connectors. These connectors are registered when Restlet extension bundles are loaded. So, for example, if the bundle `org.restlet` and your bundle (contained your previous code) is loaded before the `org.restlet.ext;jetty`, the jetty server connector

[2015-01-22 14:16] johnjaylward commented on #1012
Restlet JSE 2.3.0 from the maven repo. I'm also including (using gradle):
    compile group: "org.restlet.jse", name: "org.restlet.ext.json", version: "2.3.0"
    compile group: "org.restlet.jse", name: "org.restlet.ext.fileupload", version: "2.3.0"
    compile group: "org.restlet.jse", name: "org.restlet.ext.guice", version: "2.3.0"
    compile group: "com.google.inject", name: "guice", version:

[2015-01-22 14:19] kugtong33 commented on #1013
@templth
If we will run the application normally(not using osgi based frameworks), what server connector it will use or are there server connectors embedded in Java 8?

What is the default server connector or is jetty the default connector?
The Restlet core uses `com.sun.net.httpserver`, Is it a server connector?

@thboileau
Then the urls will be `http://localhost:8080/app` and `http://localhost:8

[2015-01-27 00:32] jlouvel opened #1016 "Missing org.restlet.jse:org.restlet.lib.swagger-models:1.5.0-SNAPSHOT/maven-metadata.xml"
While building this project (https://github.com/restlet/restlet-tutorial/blob/master/modules/org.restlet.tutorial.webapi/pom.xml), I got a Maven download error:

Downloading: https://source.db4o.com/maven/org/restlet/jse/org.restlet.lib.swagger-models/1.5.0-SNAPSHOT/maven-metadata.xml
[WARNING] Could not transfer metadata org.restlet.jse:org.restlet.lib.swagger-models:1.5.0-SNAPSHOT/maven-metadata

[2015-01-27 13:19] thboileau commented on #1016
Actually, this is just a warning, this is not blocking. Maven tries to retrieve this artifact from db4o maven.

[2015-01-27 13:51] jrwilliams opened #1017 "OSGI download redirects to http://localhost:12000/"
I'm trying to download the stable OSGi zip from here: http://restlet.com/downloads/current/#release=stable&edition=osgi&distribution=zip but when I click the "Download 2.3.0" button, I get redirected to localhost:12000.

I've tried downloading all other editions, and they work fine.

[2015-01-28 06:07] kugtong33 commented on #1013
@templth
I am now experimenting your `Restlet` release for `OSGi Environments`, as usual I can download it but does `Restlet` has its `Bundle Repository` like `http://felix.apache.org/obr/releases.xml`  or like `mvn:org.apache.karaf.features/standard/4.0.0.M1/xml/features` ?

Sorry for the excessive questions, maybe I am now in the right track for the OSGi release. :+1:

Thanks for the help guys!

[2015-01-28 10:22] thboileau commented on #1013
Hi,
you can find the osgi edition in the maven repository (http://maven.restlet.com/), using the group id "org.restlet.osgi".You can have a look here: http://maven.restlet.com/org/restlet/osgi/
The bundles are also available in a eclipse update site: http://p2.restlet.com/2.3/
I note the idea of a bundle repository, that sounds a good idea.

[2015-01-28 10:22] komasoftware commented on #945
bumping this again ...

[2015-01-28 10:33] templth commented on #1013
@kugtong33 I don't know exactly for the default server connector... I heard that the internal server connector (nio) wasn't in the core restlet module anymore (in the version 2.3). To be sure, have a look at the list of the connector within your current engine:

[code]

[2015-01-28 21:10] spraguep opened #1018 "Unprocessable Entity (422)"
When upgrading from Restlet JSE 2.2.1 to 2.3.0 I am getting an error. The problem has something to do with deserializing a "text/plain" 500 error into a StatusInfo object.

This is the stacktrace:
[code]

Here is the pom file:
[code]

Here is the test that reproduces the problem:
[code]

My system information:
[code]

[2015-01-29 07:54] templth opened #1019 "Problem when using the CORS filter with authentication"
There is a problem when trying to use the CorsFilter with an authentication. This post of StackOverFlow describes the problem: http://stackoverflow.com/questions/28196426/restlet-corsfilter-with-challengeauthenticator.

I think that we should use the method `beforeHandle` instead of `afterHandle` in the CorsFilter class.

[2015-01-30 10:17] boillodmanuel commented on #1019
I link this SOF thread which concerns this use case: http://stackoverflow.com/questions/15734031/why-does-the-preflight-options-request-of-an-authenticated-cors-request-work-in

[2015-01-30 14:56] spraguep commented on #983
I have hit this same issue. We are upgrading form Restlet 2.2.1+JDK7 to Restlet 2.3.0+JDK8. We are using self-signed certs on the client and server with client authentication enabled.

[2015-02-02 10:16] thboileau commented on #1018
many thanks @spraguep for providing a sample code. that helps a lot.

[2015-02-02 12:43] komasoftware commented on #945
Hi

I have been digging a bit more into this. Commenting out most of my API, I managed to get a basic Swagger Application running.
This is what is now returned from the /api-docs call :

```{"apis":[{"path":"/{customerid}"}],"apiVersion":"1.0","info":{"description":"","title":"com.klawt.server.ApplicationBootLoader@4dad108d"},"swaggerVersion":"1.2"}```

I am now trying to add this to the swagger U

[2015-02-02 12:51] thboileau commented on #945
Hi @komasoftware , I'm able to spend some time today.

[2015-02-02 13:33] thboileau commented on #1018
linked with #1004

[2015-02-02 13:42] kerbymart opened #1020 "ClientProxy breaks when Bean is annoated for GWT Bean validation"
**How to reproduce:**

In a working ClientProxy resource, add GWT Bean Validation like this:

@HasRequiredStuffValues(groups = DraftValidationGroup.class, message = "Please enter the required fields")
public class StuffItemDTO implements Serializable {
    @NotEmpty(groups = DraftValidationGroup.class, message = "Please enter content")
    private String content;
}

Now this StuffItemDTO cannot be

[2015-02-02 13:45] komasoftware commented on #1020
Did you add
 - hibernate-validator-4.2.0.Final-sources.jar
 - hibernate-validator-4.2.0.Final.jar
to your project ?

Did you check whether serialization works with plain GWT-RPC ?

[2015-02-02 13:46] kerbymart commented on #1020
@thboileau Is this a Restlet bug? Or could be something else?

@komasoftware yes Hibernate validator is there, also Bean Validation works just right in client side, so my idea is this is a serialization bug of Restlet...

[2015-02-02 13:47] komasoftware commented on #1020
@kerbymart I am using bean validation with Restlet and GWT, works fine. So the problem must be in your setup IMO.

[2015-02-02 13:49] komasoftware commented on #1020
Is your custom bean validation @HasRequiredStuffValues in the shared source path for GWT ?

[2015-02-02 13:55] kerbymart commented on #1020
Yes indeed.
com.mycompany.client.entity.StuffItemDTO
com.mycompany.client.shared.validation.constraint.HasRequiredStuffValues

Without the annotations, the StuffItemDTO works fine with ClientProxy.
Adding the annotations breaks the same working code (no changes in the client resource or whatsoever)

[2015-02-02 13:58] komasoftware commented on #1020
@kerbymart  Maybe you used non-translatable classes in the implementation of your custom validation annotation, e.g. Calendar.

[2015-02-02 14:19] kerbymart commented on #1020
Hmm not that I am aware of,

import javax.validation.ConstraintValidator;
import javax.validation.ConstraintValidatorContext;

the constraints have these

[2015-02-02 14:21] komasoftware opened #1021 "documentation bug - faulty link"
On this page http://restlet.com/technical-resources/restlet-framework/guide/2.3/extensions/swagger
there is a link to a example project with text "this code" that links to http://learn/archives/examples/swagger/SwaggerApplicationExample.zip

That gives a 404.

[2015-02-02 14:32] thboileau commented on #1018
I think the issue is located in the client code which infers too quickly that the entity of the error response is a serialized instance of StatusInfo.
I don't have a fix right now, we are having some thoughts about it.

Just in order to give some explanations.
The `StatusInfo` bean has been set up in order to furnish automatic serialization of exception.
In the previous releases of Restlet Framewo

[2015-02-02 14:33] thboileau commented on #1004
Hi @philippeu , another issue related to yours. I've added a comment.
I expection a decision quite quickly.

[2015-02-02 15:39] thboileau commented on #1021
Hi @komasoftware, thanks for reporting this. I hope a fiw will be available soon...
Here is the right URL:
http://restlet.com/technical-resources/restlet-framework/archives/examples/swagger/SwaggerApplicationExample.zip

[2015-02-02 15:42] thboileau commented on #1021
I close this issue.

[2015-02-02 15:42] #1021 closed

[2015-02-02 15:43] thboileau commented on #1019
Added answer to SOF thread.
closing.

[2015-02-02 15:43] #1019 closed

[2015-02-03 10:39] thboileau commented on #1004
Hi @philippeu, we've removed the automatic deserialization of StatusInfo bean.
The fix will be provided by RF 2.3.1 coming very soon.

[2015-02-03 10:39] thboileau commented on #1018
Hi @spraguep , we've removed the automatic deserialization of StatusInfo bean.
The fix will be provided by RF 2.3.1 coming very soon.

[2015-02-03 11:05] #1004 closed

[2015-02-03 11:05] #1018 closed

[2015-02-03 11:53] philippeu commented on #1004
Thanks Thierry

[2015-02-03 13:10] thboileau commented on #1017
Hello @jrwilliams,
Thanks a l ot for reporting this issue, it has been fixed.

[2015-02-03 13:10] #1017 closed

[2015-02-03 17:03] thboileau commented on #945
Hi @komasoftware,

you can just add the CorsService to your application, for example in the constructor of your application:

[code]
If you leverage an authenticator, the first `options` request may be filtered and interrupted by the guard. In this case, you can call the `setSkippingResourceForCorsOptions` method.

[2015-02-04 06:07] kugtong33 commented on #1013
The `Restlet Osgi` release answers the issue and it is working fine thanks for the help guys! and by the way, the bundle repository would be so much of help :+1:

[2015-02-04 06:07] #1013 closed

[2015-02-04 09:18] thboileau opened #1022 "SSL configuration: set up default values"
As pointed by Andrew Hughes:

Here are the values I'm using which I believe matches those NIST Guidelines.
 - http://www.nist.gov/itl/csd/tls-043014.cfm
 - http://docs.oracle.com/javase/8/docs/technotes/guides/security/SunProviders.html

Disabled protocols:
 - SSLv3

Enabled  cipher suites:
 -  recommended TLS v1.2
    - TLS_RSA_WITH_AES_256_GCM_SHA384
    - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256

[2015-02-04 09:32] thboileau commented on #1020
Hi @kerbymart, this is not very easy to investigate this issue.
Are you able to isolate the cause of the exception, is it the HasRequiredStuffValues, or the NotEmpty annotation?
Can you provide a sample test case?

[2015-02-04 09:34] thboileau commented on #1020
linked to SOF question: http://stackoverflow.com/questions/28271860/bean-validation-annotation-breaks-reslet-clientproxy/28317929

[2015-02-04 09:59] thboileau commented on #980
Hello @Krasnyanskiy, can you confirm that @jgustie has explained the issue?

[2015-02-04 11:57] Krasnyanskiy commented on #980
@jgustie, It is present on server side.

[2015-02-04 18:34] santiagopoli opened #1023 "Binary File Upload using Restlet + Apache Commons FileUpload"
I have a REST API with **Restlet 2.3** and need to implement a file-uploading functionality to it.
The problem is that when someone uploads a file using a POST (with a multipart/form-data Content-Type), the file reaches the server with another encoding. To test this, I printed the contents of the original file in a Unix Terminal and then printed it again before parsing the requet with **Apache Com

[2015-02-04 19:41] santiagopoli commented on #1023
Here is the full java class which implements this functionality. The entry point is the extractDataFromRequest method which receives a Restlet request and extracts the file data from the entity

[code]

[2015-02-05 14:09] santiagopoli commented on #1023
Actually solved it using Google's ByteStreams class:

[code]

[2015-02-05 14:28] kerbymart commented on #1020
@thboileau I think I finally figured out the problem (but not fixed it yet). At first I was using jackson, so I switched to XStream. Now the same TypeNotPresentExceptionProxy is being thrown. Having said this, its not totally about bean validation, but rather annotation processing that breaks. Where the bean validation annotation is in the client/shared package of GWT. It looks to me that annotati

[2015-02-05 14:38] Tembrel commented on #1023
That's a little dangerous, since you aren't closing the InputStream.

How about:

        while (fileIterator.hasNext()) {
            FileItemStream fi = fileIterator.next();
            if (fi.getFieldName().equals(FILE_TO_UPLOAD)) {
                Optional<String> str = readAsString(fi);
                if (str.isPresent()) {
                    result = str.get();
                } else {

[2015-02-05 14:48] santiagopoli commented on #1023
Thanks for your answer. Yes, I did notice that i didn't close the stream, so I changed my code to this:

[code]

[2015-02-05 14:50] Tembrel commented on #1023
That's going to fail to close the stream if there is an exception thrown
during toByteArray. If this happens enough you could start to leak
connections.

Why *not *use try-with-resources? That's what it's for!

--tim

On Thu, Feb 5, 2015 at 9:48 AM, Santiago Ignacio Poli <
notifications@github.com> wrote:

[2015-02-05 14:57] santiagopoli commented on #1023
I did modify my code to make it more understandable. The real method stands like this:

[code]

[2015-02-05 15:06] santiagopoli commented on #1023
I didn't knew about try-with-resources (http://docs.oracle.com/javase/tutorial/essential/exceptions/tryResourceClose.html)

It seems that everyday I learn something new :)

[2015-02-05 16:23] kerbymart commented on #1020
Here is another log using Restlet 2.3.1 and XStream extension:

[INFO] java.lang.ArrayStoreException: sun.reflect.annotation.TypeNotPresentExceptionProxy
[INFO] 	at sun.reflect.annotation.AnnotationParser.parseClassArray(AnnotationParser.java:724)
[INFO] 	at sun.reflect.annotation.AnnotationParser.parseArray(AnnotationParser.java:531)
[INFO] 	at sun.reflect.annotation.AnnotationParser.parseMemberV

[2015-02-07 15:41] thboileau commented on #1012
I've made a test with a server resource, that copies the incoming stream into `/tmp/dest.txt`.
Then, on client side I send a 3000*1mb file using curl or restlet client (in distinct jvm).

I've got the following results:
client | server connector | result
--------|-----------------------|--------
curl | internal connector | 12 sec
restlet internal connector | internal connector | 16 sec
curl | Jett

[2015-02-07 16:35] thboileau commented on #1023
@santiagopoli , do you think we can close this issue?

I wonder if your initial issue is that you were reading binary content in decoding it into characters.
I'm not sure to understand your last comment, butI think you can use try-with-resource with jdk7.

[2015-02-11 09:44] kerbymart opened #1024 "org.restlet.resource.Directory not usable for GAE"
Here's a sample code:

[code]

For this settings:

[code]

Now when you access your GAE app: http://localhost:8080/ or http://localhost:8080

This is the output:

[code]

A work-around is to access it directly: http://localhost:8080/app.html
Another work-around is to add:

[code]

Rendering the ROOT_URI mapping not usable at all.

[2015-02-13 08:45] thboileau commented on #1011
Integrated in RF 2.3.1.
will be available in RF 3.0 snapshot soon

[2015-02-13 08:45] #1011 closed

[2015-02-13 20:51] BoldijarPaul opened #1025 "Can't generate code"
I tried to generate my classes with
java -jar org.restlet.ext.odata.jar http://mywebsitename.azurewebsites.net/ ~/workspace/testADO

And I get no main manifest attribute, in org.restlet.ext.odata.jar

What should I do ?
I made my odata service as in this tutorial
http://www.asp.net/web-api/overview/odata-support-in-aspnet-web-api/odata-v4/create-an-odata-v4-endpoint

[2015-02-16 13:47] krichter722 opened #1026 "allow maven build from top source directory"
Currently it is necessary to build with `ant` and in the `build` subdirectory and there're also some `pom.xml` files and everything is explained in `build/readme.txt`. It'd be much nicer to provide a `pom.xml` in the top source directory which does everything self explanatory.

[2015-02-16 15:08] Titiery opened #1027 "Error on PUT to Directory with Restlet 2.3.0"
Hi,

I use Restlet 2.3.0 to do a number of PUT requests to a Directory. Occasionally Restlet returns "Bad request" (error code 400).
I use always the same client code and only put plain text files (extension ".txt").
Looking at the logs, it looks to me that Restlet thinks the ".txt" file is an html file causing the error.
The same PUT will succeed hundreds of times and fail randomly. The differenc

[2015-02-16 16:22] thboileau commented on #1027
Hello,

thanks for reporting this issue and for the details!
I've set up a simple directory, served by the 2.3.1 jetty extension.
[code]

On client side, I've tested using curl (and a 1..1000) loop, and it works for me with a text file which size is 24 mb):
[code]

[2015-02-16 16:43] thboileau commented on #1025
Hello,

thanks for reporting this issue and for the details.
My understanding is that there is an association that does not define the target entity of the association.
At least, we could be more proactive and detect wrongly set association. I take care of that.

[2015-02-16 16:46] #1016 closed

[2015-02-16 16:51] thboileau commented on #1026
It could be nice also to migrate to Maven structure: #5

[2015-02-16 19:25] Titiery commented on #1027
Thanks for your quick answer, I am using Jersey 2.14 as the client.
Multiple clients were doing calls in parallel as opposed to your example being sequential.
Logs on the server side were interleaved between successful and failed PUT requests.
The file size was less than 1kB, one row of data with 284 characters to be exact in the example that failed :)
How is the media type determined on the serve

[2015-02-16 20:00] thboileau commented on #1027
Hi,

The "html" conversion that you notice is actually the conversion of the error status (which leverages the StatusInfoHtmlConverter class; this class is only used in the context of converting a status into a
representation suitable to the client; by default: html).

The media type is detected from the name of the file. The algorithm lists the "extensions" of the file name and associates a metad

[2015-02-16 23:29] jlouvel commented on #1026
One idea we have to achieve this goal is to split the current GitHub repository into 2 repositories:
 - one for the source code including valid Maven POMs for each module
 - another for the libraries including the official Ant build script capable of building the multi-editions/distribution deliverables

This would facilitate building and contributions from the community based on Maven conventions

[2015-02-19 11:06] rcbeuker opened #1029 "PUT and POST not working from J2SE platform (RESTLET Version 3.0-M1)"
I'm working on a project with GWT and J2SE clients. The GWT part is working great, but now there are problems with the J2SE client;
[code]

![screen shot 2015-02-19 at 11 56 26](https://cloud.githubusercontent.com/assets/8544013/6265424/73d71a64-b82e-11e4-822e-05634154b860.png)

This code was working some months/versions ago... Both PUT and POST produce this error while GET is working. Whats wrong

[2015-02-19 13:06] rcbeuker commented on #1029
When debugging with breakpoints in the J2seServerResource, a PUT request reaches the server with payload NULL and a POST doesn't even reach the server (and give the error message). A GET request works fine...

[2015-02-19 13:10] rcbeuker commented on #1029
When tested with Chrome REST Console the server works fine, the J2SE Client is the problem...

https://chrome.google.com/webstore/detail/rest-console/cokgbflfommojglbmbpenpphppikmonn?hl=en

[2015-02-19 13:40] rcbeuker commented on #1029
Switching from JSON to XML gives the same results...

[2015-02-19 15:53] Titiery commented on #1027
Hi,

Thanks for your detailed answer.
I managed to get the headers passed in case of failure
Accept: text/html, image/gif, image/jpeg, *; q=.2, */*; q=.2
Content-Type: */*

I am going to force Content-Type to match the file name extension so "text/plain" in case of ".txt" files.
Should I also look at the Accept header and pass the same media type, I believe this one defines the  response I am expe

[2015-02-19 16:00] Titiery commented on #1027
Sorry I now escaped star symbols so that they get rendered properly
Accept: text/html, image/gif, image/jpeg, \*; q=.2, \*/\*; q=.2
Content-Type: \*/\*

[2015-02-20 12:29] glaforge commented on #996
Hi Claus!
Out of curiosity, did you further investigate this on your side?
Have you ended up switching back to sync instead of async?

[2015-02-20 12:43] glaforge commented on #508
@RStocker71 would you still be interested in discussing integrating this Spring support in Restlet Framework?

[2015-02-20 12:45] davsclaus commented on #996
@glaforge I haven't heard any word from the restlet guys.

What we did at Apache Camel was adding a note on our docs, and making it easy to turn on sync mode by default on the component level.
http://camel.apache.org/restlet

We have in the past before encountered a severe issue with the restlet async api - where it would not issue a callback under special use-case. But that has been fixed
https:/

[2015-02-20 21:20] q7a opened #1030 "Misspelled CORS header breaks behaviour"
When XHR request is made against Restlet 2.3.1 with `withCredentials` set to `true`, Restlet returns misspelled `Access-Control-Allow-Credential` header instead of correct `Access-Control-Allow-Credentials` (singular v plural) which gets rejected by the browser thus preventing communication.

Fixing typo in `HeaderConstants.java` should be enough but this is misspelled in many comments so may be w

[2015-02-21 02:41] gonzajg opened #1031 "CPU problem with Restlet 2.0.15"
Hi we are noticing a lot of activity in some threads related to Restlet. The problem starts when the servers are on production for a while. Then we take out all requests but still get a lot of CPU usage sporadically.

This is the top with threads option:

[code]

When I do a jstack to the process and look for that specific threads I find these two stack traces:

[code]

[code]

Do you have any clu

[2015-02-21 09:59] boillodmanuel commented on #1030
Fixed in branch 2.3.

Thanks for reporting this issue.

[2015-02-21 13:44] BoldijarPaul commented on #1025
I found out that Restlet does not support odata v4, so that must be the problem..

[2015-02-21 22:32] q7a commented on #1030
@boillodmanuel  Thanks a lot for prompt fix.

Shouldn't this also land in the master to avoid regression in the future? Thanks again.

[2015-02-22 15:38] rcbeuker commented on #1029
Anyone?!? PUT and POST from J2SE platform are basic functionality ...

[2015-02-22 17:25] jlouvel commented on #1029
Is this working with version 2.3.1?

Something might have been broken in the early 3.0 milestone 1.

[2015-02-22 17:36] rcbeuker commented on #1029
Hello Jerome,

No the prior version(s) 2.3.1 complains about the content length;

![screen shot 2015-02-22 at 18 32 38](https://cloud.githubusercontent.com/assets/8544013/6319581/3d8dce5e-bac1-11e4-8fb2-1e3e07ae0acc.png)

Regards

Roland

[2015-02-22 19:52] jlouvel commented on #920
This issue seems related to the fact the auto quote encoding mixes up the size computation, leading the missing characters on the HTTP client side. The latest commits in branches 2.3 and master should help fix this issue.

[2015-02-22 20:18] jlouvel commented on #1003
Do you think there is an opportunity for an Arquillian extension in RF, or more using it for RF own's test suite?

[2015-02-23 13:38] gonzajg commented on #1031
Further information tells me that the code loops infinitely between these two traces:

"qtp1547352271-63616" prio=10 tid=0x00007f6544047000 nid=0xe7cf runnable [0x00007f6892ae8000]
   java.lang.Thread.State: RUNNABLE
	at sun.nio.cs.UTF_8$Encoder.encodeArrayLoop(UTF_8.java:542)
	at sun.nio.cs.UTF_8$Encoder.encodeLoop(UTF_8.java:619)
	at java.nio.charset.CharsetEncoder.encode(CharsetEncoder.java:561

[2015-02-24 18:10] gonzajg commented on #1031
Further information:

Both threads are in an infinite loop trying to resolve the same URI. The code loops in this while code of ReaderInputStream:

    @Override
    public int read(byte[] b, int off, int len) throws IOException {
        int result = 0;
        boolean iterate = true;

        while (iterate) {
            // Do we need to refill the byte buffer?
            if (!this.byteBuffer.

[2015-02-25 01:19] komasoftware commented on #945
Hi Thiery,

Back at this. Some API can be declared without problems, even for complex objects.
The problematic case is where the result of my API is a generic Class :

[code]

Describing the generics seem to lead to call to :

```RepresentationInfo.introspect(Class<> clazz, MediaType mediaType)```

with value for clazz = ```sun.reflect.generics.reflectiveObjects```

which in turn leads to :

```ac

[2015-02-25 01:21] komasoftware commented on #945
adding packages starting with ``"sun."`` or ``"sun.reflect."`` in the call to
[code]
is enough to fix it ?

[2015-02-25 09:00] komasoftware commented on #945
I have been trying to rebuild the editions after making changes to ReflectUtils in the apispark internal package. My change was to exclude the "sun.*" packages from introspection but the unit tests fail after this change. I'd appreciate some help moving forward from here :
``1
Setting up test org.restlet.test.service.StatusServiceTestCase#testRepresentation
------------- ---------------- ---------

[2015-02-25 13:08] komasoftware commented on #945
I pulled everything in from 2.3.1 release and I cannot pass the tests. The test failure was not introduced by me. But it does stop me from continuing my investigations.

[code]

[2015-02-25 13:34] gonzajg commented on #1031
Going on and understanding the issue, I found that charBuffer is in position 1023 and capacity 1024 (and limit). When the method tries to encode the bytes in the charBuffer to "give" them to the byteBuffer, it returns UNDERFLOW and the position of the charBuffer is unchanged as so the byteBuffer. This results in a never ending read of the charBuffer.

Looking at the contents of the charBuffer I fo

[2015-02-25 13:36] santiagopoli commented on #1031
+1, I'm having the same problem!

[2015-02-25 14:24] rcbeuker commented on #1029
No updates on this situation? Is this a fault from our side or is the problem reproducible? Right now, all our J2Se clients are down... :(

[2015-02-25 15:24] thboileau commented on #1029
Hello,

we are quite busy at this time. I will answer you more appropriately
tomorrow.

Best regards,

2015-02-25 15:24 GMT+01:00 rcbeuker <notifications@github.com>:

--
*Thierry Boileau, Mr B*
+1 (408) 387-3184 • tboileau@restlet.com

<http://restlet.com/>
6 Rue Rose Dieng-Kuntz • Nantes, 44300 • France

[2015-02-26 10:45] komasoftware opened #1032 "Introspector : ApiSpark returns 500"
I am trying to push my API to ApiSpark, but the server return 500. I am running :

`org.restlet.ext.apispark.Introspector -u myuserid -p mypasswd -n --id v1 com.klawt.server.ApiBootLoader`

where `ApiBootLoader extends org.restlet.Application`

`Server Error (500) - The server encountered an unexpected condition which prevented it from fulfilling the request`

[code]

[2015-02-26 11:03] komasoftware commented on #1032
``org.restlet.ext.apispark.Introspector -u myuserid -p mypasswd  --create-descriptor com.klawt.server.ApiBootLoader`` returns

``Unprocessable Entity (422) - The server understands the content type of the request entity and the syntax of the request entity is correct but was unable to process the contained instructions``

[2015-02-26 16:38] thboileau commented on #1029
I've made the following tests:

RF version | app | client | result (get and post)
---------------|------|--------|---------------------------
2.3.1 | dev server | GWT | OK
2.3.1 | dev server | JSE | OK
2.3.1 | GAE server | GWT |
2.3.1 | GAE server | JSE |
3.0 M1 | dev server | GWT | OK
3.0 M1 | dev server | JSE | OK
3.0 M1 | GAE server | GWT |
3.0 M1 | GAE server | JSE |

[2015-02-26 23:12] rcbeuker commented on #1029
Hello Jerome,

Indeed it was just one extra line of code to fix this;
[code]
Where did this come from? We totally overlooked this...

Thanks for your time and support!

Best regards,

Roland

[2015-02-26 23:12] #1029 closed

[2015-02-27 08:03] kugtong33 opened #1033 "Unable to find a converter for this representation : [*/*]"
I am currently developing a simple file upload mechanism using `Restlet` and I am facing this error:

`2015-02-27 15:51:19,246 | WARN  | estlet-215390046 | FileApplication                  | 57 - org.restlet - 2.3.0.snapshot-v20141217-1648 | Unable to find a converter for this representation : [*/*]`

Restlet client:

[code]
the file is an input of the function.

Restlet server:

[code]

I checked

[2015-02-27 08:18] thboileau commented on #1029
It comes from a constraint of the GAE platform (here is a pointer: https://code.google.com/p/googleappengine/issues/detail?id=129). The buffering of the request entity has been provided by Restlet Framework version 2.1 M4.
It works for GWT requests because the requests are handled by the browser which seems to compute the size of the sent entity. Regarding the other requests coming from the jse cl

[2015-02-27 08:28] thboileau commented on #1032
Hi @komasoftware, my understanding is that the first request (``org.restlet.ext.apispark.Introspector -u myuserid -p mypasswd -n --id v1 com.klawt.server.ApiBootLoader``) fails because the value provided for the `id` parameter is wrong. It should be something like a number `1234` and references the identifier of one of your Wab API available from your dashboard.
I notice that the platform should n

[2015-02-27 08:31] rcbeuker commented on #1029
The problem started when the project started mixing GWT and J2SE clients.
At this point we had to add the JSON setting and the problem showed up....

But (indeed) when falling back to old versions the problem kept
appearing... Maybe the developer from the first J2SE clients used a non GAE
server for his tests.
Op 27 feb. 2015 09:18 schreef "Thierry Boileau" <notifications@github.com>:

[2015-02-27 08:33] thboileau commented on #1032
Regarding the second issue, I would to know what version of Restlet Framework are you using?

[2015-02-27 08:37] komasoftware commented on #1032
I am on branch 2.3.
But I think for the second issue, I also need to pass in some parameter then to refer to my WEB API in the dashboard ?

[2015-02-27 09:43] thboileau commented on #1032
Regarding the second issue, I had a look a the logs, I don't see 422 status responses. I wonder if this is an error on client side.

To my mind the command line is fine. It intends to create a "web api descriptor" that corresponds to the application called "com.klawt.server.ApiBootLoader".
I've a test using one sample code taken from the tutorials repository (https://github.com/restlet/restlet-tut

[2015-02-27 09:53] komasoftware commented on #1032
Here is some more output. I am using the GAE edition.
[code]

[2015-02-27 09:57] thboileau commented on #1032
thanks.

as a side note,  I've a made a test to update an existing version and it simply fails for me:
`-u myuserid -p mypasswd  -U --id 6320 -v 1 org.restlet.tutorial.WebApiTutorial`

[2015-02-27 13:03] gonzajg commented on #1031
@thboileau any feedback on this?

[2015-02-27 14:19] thboileau commented on #1032
@komasoftware , from what I see in the log traces, your request `Fri Feb 27 10:52:28` may have failed because of the name of the Web API. It seems to contain some special characters.

[2015-02-27 15:57] thboileau commented on #1033
Hello,

I will give a little bit more details later, but there is no need to specify  "FileRepresentation" in the argument of the Java method:

[code]

In addition, I will use the `org.restlet.engine.io.IoUtils.copy(inputStream, outputStream)` method in order to effectively create the file on disk.
Just for the matter of example, I introduce you another version of your code that declares an except

[2015-02-28 07:10] kugtong33 commented on #1033
Yes, that one solved the problem! :+1:  Thanks

But it is just an alternative right?, I mean when I use

[code]
for `JSON` requests, there is no problem converting the request.

[2015-03-05 08:17] templth opened #1035 "Provide a convenient way to configure a Directory within the Spring extension"
Following this discussion on StackOverflow, it appears that configuring a Directory for Restlet within the Spring extension isn't simple at it seems, especially if we want to use the client protocol `war`.

See the discussion on StackOverflow: http://stackoverflow.com/questions/28775569/restlet-cant-locate-static-files-through-directory.

[2015-03-07 14:19] thboileau commented on #1024
Hello @kerbymart

I've just tried and it works for me. My sample project is composed of a single Application class:

[code]

and in the `war` part, I've put the `doc` directory with a `app.html` file:

![selection_055](https://cloud.githubusercontent.com/assets/1122782/6541627/bfcb31fc-c4dc-11e4-97e3-a12124212222.png)

When calling `http://localhost:8888/test/` it gets the app.html file:

![select

[2015-03-09 14:44] komasoftware commented on #1032
Is this bug confirmed now or do you want me to test anything else. If I follow the help directives from the tool :

[code]

then ``org.restlet.ext.apispark.Introspector -u myuserid -p mypass   --create-descriptor com.klawt.server.ApiBootLoader`` should simply work.

Can you reproduce this error ? And if so, Is this going to be fixed for branch 2.3 ?

[2015-03-09 14:59] templth opened #1036 "Extend GaeAuthenticator class to take into account admin role"
See this answer on StackOverFlow for more details: http://stackoverflow.com/questions/28936580/using-google-authentication-with-restlet.

[2015-03-09 15:10] komasoftware commented on #1036
Isn't [GaeEnroler](http://restlet.com/technical-resources/restlet-framework/javadocs/2.3/gae/ext/org/restlet/ext/gae/GaeEnroler.html) doing this already ?

[2015-03-10 10:15] templth commented on #1036
Added a PR. See https://github.com/restlet/restlet-framework-java/pull/1037.

[2015-03-10 10:20] templth commented on #1036
@komasoftware Yes, you're right! I didn't see this class...

[2015-03-10 10:20] templth commented on #1036
Closing

[2015-03-10 10:20] #1036 closed

[2015-03-12 15:32] thboileau commented on #1032
The new version of APISpark is online since 10 minutes, it contains some bug fix that should help you.
Having said that, I think I have to update the 2.3 branch with the content of the branch apispark-5A.

[2015-03-12 16:30] thboileau commented on #1033
Actually, conversion from Representation to JsonRepresentation is taken into account by the JsonConverter supplied by the org.restlet.ext.json extension.
There is no converter that support the conversion from Representation to FileRepresentation which leads the framework to log: `Unable to find a converter for this representation : [*/*]`.

Just in order to give more details.
As a developer, you s

[2015-03-12 16:30] #1033 closed

[2015-03-13 14:12] komasoftware commented on #1032
@thboileau
I don't see any changes since the updates ... below my results.

** create descriptor **
``Introspector -u myuser-p mypass --create-descriptor com.klawt.server.ApiBootLoader``

 returns

[code]

** new version **

``org.restlet.ext.apispark.Introspector -u myuserid -p mypass --new-version --id 1 com.klawt.server.ApiBootLoader``

 returns

[code]

[2015-03-14 00:23] jlouvel commented on #1032
Thanks @komasoftware for your help with tests while we investigate your issue.

[2015-03-14 14:24] edouardmercier commented on #1002
@thboileau: thank you. I've integrated the v2.3.1, and no more exception is being logged. My opinion is that the ticket may be closed, as far as I am concerned.

[2015-03-16 14:34] thboileau commented on #1002
thanks, closing.

[2015-03-16 14:34] #1002 closed

[2015-03-16 14:53] thboileau commented on #1030
yes, I take care of that.

[2015-03-16 15:08] #1030 closed

[2015-03-16 15:52] thboileau commented on #1032
Hi @komasoftware , I've updated the current 2.3 branch, which may help to solve this issue. I think we will publish a new version (2.3.2) in a few days.
I wonder if you can provide us some sample code that allows to reproduce the issue?

[2015-03-16 16:29] thboileau commented on #1035
I wonder if SpringContext may be part of the response: http://restlet.com/technical-resources/restlet-framework/javadocs/2.3/jse/ext/org/restlet/ext/spring/SpringContext.html

[2015-03-16 16:42] komasoftware commented on #1032
@thboileau I pulled in the changes from the 2.3 branch and fired off a new build, but the GWT edition fails to build. Do I open a separate issue for that ?

[2015-03-16 16:44] thboileau commented on #1032
Hi Koen, I take care of that right now.

2015-03-16 17:42 GMT+01:00 Koen <notifications@github.com>:

--
*Thierry Boileau, Mr B*
+1 (408) 387-3184 • tboileau@restlet.com

<http://restlet.com/>
6 Rue Rose Dieng-Kuntz • Nantes, 44300 • France

[2015-03-16 17:03] komasoftware commented on #1032
super, thx @thboileau, let me know when I can go ahead.

[2015-03-16 17:16] thboileau commented on #1032
Hi @komasoftware, the fix is now part of the 2.3 branch.

[2015-03-16 20:14] edouardmercier commented on #945
I've re-attempted to have Swagger working on the GAE edition of Restlet v2.3.1, and went a step further, thank you for having fixed things.

However, I realize that most Swagger annotations are not taken into account, and I was wondering why. In addition (it must be something related to Swagger UI), when attempting to run web services through Swagger UI, the `example.com` domain is requested inste

[2015-03-16 22:42] komasoftware commented on #1032
still the same

** new version **

``org.restlet.ext.apispark.Introspector -u myuserid -p mypass --new-version --id 1 com.klawt.server.ApiBootLoader`` returns
[code]
** create descriptor **
``org.restlet.ext.apispark.Introspector -u myuser-p mypass --create-descriptor com.klawt.server.ApiBootLoader``

[code]

Here is the code for the Application literally :

[code]
Hope that helps !? Nothing exoti

[2015-03-17 19:42] komasoftware commented on #1032
@thboileau any insights to share ? or can I help to diagnose this issue ?

[2015-03-18 04:42] jlouvel commented on #945
Thanks Edouard for your interest in making this feature work properly, sorry it takes so long. I've adked to our team to have a closer look at this issue.

BTW, did you have a look at this page?
http://restlet.com/technical-resources/apispark/tutorials/document-restlet-api

It might help you as well as this GitHub project:
https://github.com/restlet/restlet-sample-descriptor

[2015-03-18 11:25] boillodmanuel commented on #1032
Hi,

The `--new-version` parameter will create a new version for an existing descriptor cell. The `--id` parameter should be the id of this cell.

To find the cell id, click on your cell in apispark and the id is in the URL: `/apis/<cellId>/version/` (1234 in the example below):

![image](https://cloud.githubusercontent.com/assets/621455/6707515/f5739eb4-cd67-11e4-8129-6170d22ac931.png)

We'll upd

[2015-03-18 11:49] boillodmanuel commented on #1032
To investigate deeper in the 422 error, I need the class `ContactServerResource` (only the method signature) and the input / ouput representations classes.

Could you attach it?

[2015-03-18 12:08] komasoftware commented on #1032
Here you go, @boillodmanuel

the ``ContactServerResource`` implements ``ContactResource`` with this signature :

[code]

And this is the ``Contact`` class, I copied it directly from code and it has a number of dependencies (Objectify annotations, other POJO's, validation annotations, and references to other POJOs). Let me know if you need more info.

[code]

[2015-03-18 12:13] theprivateland opened #1038 "Restlet JAX-RS encoding problem - CRITICAL."
Guys Im testing migration from jersey and have tested few frameworks with angle of smooth workflow.

Restlet is a winner - most flexible, doesn't do any oddity with memory and server shuts down nicely.

However, embarasingly, its has seriosuly annoying bug:
[code]

It tries to double encode request parameters (I think its form parameters case or query) when used with standard jax-rs services.

Non

[2015-03-18 15:50] boillodmanuel commented on #945
@komasoftware it's fixed
(comment https://github.com/restlet/restlet-framework-java/issues/945#issuecomment-75887160)

Generics Type with variable is not supported, so for this kind of property, the property will be ignored and with the following message
`Could not add property list of representation SearchResult. Type java.util.List<D> is a generic type with unkwnown type. This is not supported.

[2015-03-18 18:02] jlouvel opened #1039 "Support generic types resolution in Introspector"
As reported in #945 it isn't possible today to support the resolution of generic types references. We should enhance our introspection logic.

[2015-03-18 18:04] jlouvel commented on #945
@boillodmanuel Thanks for the update and fix.
I've added a RFE #1039

[2015-03-18 18:50] boillodmanuel commented on #1032
I've just try with your example but I had to comment some properties because I don't know their types (PhoneNumber, EmailAddress, StructuredPostalAddress, ContactEvent, and Key<ContactRoot>).

With the latest version of branch 2.3 (with one fix from today), I cannot reproduce you problem. The descriptor has been created (see here: https://apispark.restlet.com/apis/7069/versions/1/overview).

Could

[2015-03-18 20:44] komasoftware commented on #1032
@boillodmanuel I will look into this. As for the ``Key<ContactRoot>``, I have no problems serializing this type using the JSON or GWT converters.
I' ll report back. Thx.

[2015-03-19 10:27] lotto99 commented on #906
Hello,
it seems like we have similar/same problem.
We have this topology:
CLIENT (IBM ESB) -rest call-> LOAD BALANCER -routes to-> HTTP SERVER (IBM IHS) -invokes process-> IBM BPM

Between client and LB we tracked this log:
10:01:12 search, 10:01:13 assign, 10:01:14 finish
 10:01:46 search, 10:01:47 assign, 10:01:47 finish (failed)
 10:05:30 search...

Then client times-out:
[3/13/15 10:05:31:006

[2015-03-20 04:17] jlouvel commented on #906
@lotto99 Could you add the org.restlet.ext.net.jar library to your classpath to replace the internal HTTP client? That should help workaround the issue

[2015-03-20 14:43] rbrecheisen opened #1040 "ChallengeResponse null on server side"
Hi,

We're trying to use the ChallengeResponse to add an OAuth2 access token to the HTTP request header. However, on the server-side the challenge response is always null. Now, we did find an old post (http://osdir.com/ml/java-restlet/2009-07/msg00132.html) where this issue was also reported and the person who posted it also proposed a work-around as follows:

[code]

After making the REST call to

[2015-03-20 15:39] rcbeuker commented on #1040
some extra explanation;

We're trying to send Google Authentication tokens to our Rest interface on Google App Engine.
As explained here (under heading "Calling a Google API")

https://developers.google.com/accounts/docs/OAuth2InstalledApp

We should do this by including an Authorization: Bearer HTTP header.
On the client side we're using;
[code]

So the ChallengeResponse with setRawValue() is use

[2015-03-24 02:35] tliron opened #1041 "Wrong Reference.getRemainingPart(boolean decode)"
The implementation always forwards "true" for the decode param, instead of forwarding the actual param. It is:

[code]

It should be:

[code]

[2015-03-24 15:27] rcbeuker commented on #1040
I see a fix for HTTP_BASIC, is it possible to use this for our AccessToken?

http://restlet.tigris.org/ds/viewMessage.do?dsForumId=4447&dsMessageId=2368703

[2015-03-24 15:47] rcbeuker commented on #1040
The post (ChallengeResponse is NULL on the server side using GWT ) is from 2011, is this still an issue?

http://restlet.tigris.org/ds/viewMessage.do?dsForumId=4447&dsMessageId=2892504

[2015-03-24 17:10] thboileau commented on #1040
I've just tested locally (not on GAE), I see the challengeResponse on server side, and can display the raw value.
I try with GAE.

[2015-03-24 17:36] thboileau commented on #1040
As you said, I guess the fix (https://github.com/restlet/restlet-framework-java/commit/3b5b49e5739f7aff5c609a52eb6cfe4e2d70a95a) for this post explains what happens.

[2015-03-24 17:55] thboileau commented on #1040
I have a fix. I check with @jlouvel:
[code]

[2015-03-24 18:06] thboileau commented on #1041
Thanks a lot Tal. The fix is available in the 2.3 and master branches (futur 3.0 release).

[2015-03-24 18:06] #1041 closed

[2015-03-25 03:05] jlouvel commented on #1040
@thboileau The fix looks good to me.

[2015-03-25 06:10] kerbymart opened #1042 "Unprocessable Entity error when accessing ServerResource (XStream used not Jackson)"
The error happens when GWT app is accessing a Restlet ServerResource using ClientResource it throws "Unprocessable Entity"

This may be due to the different way XStream generates JSON, this is the format:

[code]

Which GWT ClientResource is generating a different form of JSON String, thus the content type is OK but the format is malformed causing XStream to throw "Unprocessable Entity"

[2015-03-25 06:35] kerbymart opened #1043 "ClientResource is sending null entity for GWT"
When using ClientResource to send out data, Server receives null object for this code:

[code]

Where 'model' is a POJO the data sent is null.

A potential solution to use ClientProxy in GWT is a solution however when using Restlet XStream on the server, GWT resides on different server than of the Restlet Application it throws 'Unprocessable Entity' this could be a bug.

Now, the Restlet Applicati

[2015-03-25 06:52] kerbymart opened #1044 "422 Unprocessable Entity on Restlet ClientProxy and GAE Server"
This may be a bug that when a GWT uses ClientProxy to communicate with a Restlet Application hosted in a different server that allow Cross-domain access (CORS), it is always throwing Error '422 Unprocessable Entity' on every request from the ClientProxy.

[2015-03-25 07:15] rbrecheisen commented on #1040
Dear Jerome and Thierry,

How does this work the other way around? We're seeing a null challenge
response on the server side, not the GWT client side.

Regards Ralph

On Wednesday, March 25, 2015, Jerome Louvel <notifications@github.com>
wrote:

--
Sent from my iPhone

[2015-03-25 08:19] thboileau commented on #1040
Hi @rbrecheisen, that's the issue: the client does not send the Authorization header. I've tested this with an app deployed on GAE, and it works for me.

[2015-03-25 08:53] rbrecheisen commented on #1040
Hi Thierry,

Thanks for you quick reply. You're right of course, that _is_ the issue. I
was a bit confused. Still, I'm wondering. There's seems to be a challenge
response coming from the server which the client checks for null-ness. If
not null, the authorization header is set, as you indicated. However, in
our case, the GWT client authenticates itself directly with Google using
the gwt-oauth2 lib

[2015-03-25 08:56] thboileau commented on #1040
Hi Ralph,
thanks for coming back and sharing us your thoughts. I hope I'll have time this week to answer you.

[2015-03-25 14:18] gonzajg commented on #1031
Still fighting with the issue in our production servers. This conversation seems to denote a similar problem with charset decoder:
https://igniterealtime.jiveon.com/thread/33053

Specially: "the infinite loop can occur if the malformed sequence is exactly at the end of the buffer.  in this case, you need to skip, instead of backtrace."

[2015-03-25 15:17] thboileau commented on #1031
Thanks for the reference to the conversation. I have a look.

[2015-03-25 16:11] thboileau commented on #1031
Hello, I have a question for you, do you need the support of ranges in your application?

[2015-03-25 17:12] gonzajg commented on #1031
Is rangerepresentation used automatically by Jackson parser? We use Jackson's converter service and only serve JSON as result.

[2015-03-25 17:46] gonzajg commented on #1031
Here's a new similar problem using jackson binary representation, which we don't. It mentions handling underflow other way to avoid infinite loops.

https://github.com/michel-kraemer/bson4jackson/issues/35

[2015-03-25 18:37] jlouvel commented on #1031
Jackson requires the ConverterService, but not the RangeService which is to allow partial representations retrieval. Can you try to call getRangeService().setEnabled(false) in your Restlet Application constructor?

Also, if you could isolate the problem in a reproducible code sample/unit test that would make it much easier to fix for us.

[2015-03-25 19:46] gonzajg commented on #1031
Unfortunately we can't reproduce it. It only happens in production environments with high hit rate.

I'm guessing the range representation is negotiated by the client?

I will try the code you suggested and get back. Thanks!

[2015-03-26 12:16] gonzajg commented on #1031
Hi Jerome,

The issue seems to be gone without range representation. Here's an image of 1 server (1st) with the fix and 2 without (2nd and 3rd).

![image](https://cloud.githubusercontent.com/assets/1380026/6845943/7aa089f4-d398-11e4-8029-54ae6b526794.png)

First set of circles is when 2 threads get stuck in an infinite loop. Second set, you can see that even when the load is low, those 2 threads a

[2015-03-26 21:58] tliron opened #1045 "No way to discover the originating VirtualHost"
As it stands, Restlet's routing mechanism leaves no trace of which VirtualHost handled the request. However, for applications that run on multiple hosts, it may be useful to alter their behavior according to which host a request came from.

My suggestion is that this could be done via a request attribute. Already the VirtualHost class attaches a filter to each request, so why not do it there? Here

[2015-03-27 05:09] jlouvel commented on #1045
Thanks for the feed-back.

That is the purpose of the VirtualHost#getCurrent() to be able to find the matching host based on its store hash code. The idea is also to isolate the virtual host from the Restlet down the routing chain to prevent them.

But, I understand your concerns regarding the thread local and lack of accessibility when isolation isn't such a concern. We could revisit this design

[2015-03-27 05:22] tliron commented on #1045
Also, beyond the thread breakage, getCurrent() returns a hash code, which isn't very helpful.

There is a workaround: insert a filter before the attached application that does this. It's what I did for Prudence. However, this seems so essential and easy to fix, that I think it should be included in Restlet.

https://code.google.com/p/prudence/source/browse/components/prudence/source/com/threecrick

[2015-03-27 12:13] rcbeuker commented on #1040
Hello Thierry,

Any news on this? We don't need a complete authorization workflow, we just want to transfer a Google Access Token to our GAE application via a HTTP header. This is working from a test J2SE client but not from GWT.

Kind regards,

Roland

[2015-03-28 15:34] thboileau commented on #1031
If I understand well, the issue is to the fact that the ReaderInputStream fails to read some sequences of bytes and decode it properly. It came directly from the data that are read which may explain why it appears at some time.
Range representation is a quite useful feature, but it may have some side effects especially when converting bytes to characters since ranging applies to bytes, not to char

[2015-03-30 08:54] templth opened #1046 "Extension Swagger requires Jackson 2.2.4"
It's not cleat at the moment that the extension Swagger requires version 2.2.4 of Jackson. If the application uses antoher Jackson version, there are side effects. This should be explicitely described within the readme  of the extension.

See this StackIOverflow question : http://stackoverflow.com/questions/29319076/guide-to-use-restlet-swagger-extension-for-gae/

[2015-03-30 09:03] kerbymart commented on #1046
@templth  From this paste http://pastekit.com/k5okRN it seems that its a method problem where the method is found in version 2.2.4 of Jackson, missing on other versions:

 [INFO] java.lang.NoSuchMethodError: com.fasterxml.jackson.core.JsonGenerator.setCurrentValue(Ljava/lang/Object;)V

[2015-03-31 06:09] sansjunk opened #1049 "java.io.FileNotFoundException when trying to serve static content"
I am running into an issue when trying to serve up some static files along with an API using Restlet 2.3.1 for JEE. I am not sure if it's something I am not doing right or its something in Restlet.

My project is configured as a webapp (WAR) and is run by Tomcat. Here is the code I have setup for serving up files:

[code]

I have the following folder structure in my WAR:
[code]

When I run in Ecli

[2015-03-31 08:38] templth commented on #1046
@kerbymart Thanks for the additional hint ;-)

[2015-04-02 19:46] aaronstasis opened #1050 "Providing Swagger documentation for query parameters"
I'm trying to add swagger support to an existing RestletApplication. I can't seem to find a way to add annotations or code to add query parameters to a swagger resource definition.

ie:

If I have a filter query parameter accessed in a @Get RestResource, I can't use the @ApiParam annotation as it doesn't work outside a jax-rs definition, but I haven't found an alternative either.

[2015-04-07 13:41] gonzajg commented on #1031
Me neither. The issue is completely gone with range representations disabled. Do you want me to close the issue?

[2015-04-08 05:54] jlouvel commented on #812
I've just checked in an experimental HTTP server based on Netty 4.1 in master branch:
https://github.com/restlet/restlet-framework-java/tree/master/modules/org.restlet.ext.netty/src/org/restlet/ext/netty

[2015-04-08 05:55] jlouvel commented on #723
I've just checked in an experimental HTTP server based on Netty 4.1 in master branch:
https://github.com/restlet/restlet-framework-java/tree/master/modules/org.restlet.ext.netty/src/org/restlet/ext/netty

[2015-04-08 05:57] jlouvel commented on #424
I've just checked in an experimental HTTP server based on Netty 4.1 in master branch. It should support chunked encoding properly:
https://github.com/restlet/restlet-framework-java/tree/master/modules/org.restlet.ext.netty/src/org/restlet/ext/netty

[2015-04-13 09:50] templth opened #1052 "There is no JAX-RS support for extension RAML"
Extension RAML can only be used within native Restlet applications, within not JAX-RS ones.

[2015-04-13 22:01] jpstratton opened #1053 "tomcat shutdown"
Tomcat does not shutdown because the four restlet threads started are not daemon threads.  Workaround was to add setDaemon to method in TaskService.java.  Is there a better way?

[code]

[2015-04-14 08:10] thboileau commented on #1053
hi @jpstratton , could you precise the version of the framework?

[2015-04-14 15:20] jpstratton commented on #1053
I am using version 2.3.1.
At 01:11 AM 4/14/2015, Thierry Boileau wrote:
hi
@jpstratton , could you
precise the version of the framework?
�
Reply to this email directly or

view it on GitHub.

[2015-04-14 15:37] jpstratton commented on #1053
We use tomcat 8 with JDK 8.  When the system starts restlet creates four threads and by default they are not daemon threads.  Adding the one line to set the threads daemon allow tomcat 8 to shutdown.  I tried to set the attribute controllerDaemon to true but that did not help.

[2015-04-14 16:23] thboileau opened #1054 "fix org.restlet.jse:org.restlet.lib.swagger-models maven artefact"
cf this question: http://stackoverflow.com/questions/29557622/gradle-wont-resolve-dependency-maven-will.

[2015-04-15 08:04] superbob commented on #1054
It is hard to find clear recommendations about snapshot uniqueness.

Artifactory even recommends **against** deploying unique snapshots. (http://www.jfrog.com/confluence/display/RTF/Usage#Usage-Whydoyoustronglyrecommendagainstdeployinguniquesnapshots%3F).

It is really confusing. What I can tell is that Spring, for example (which uses Artifactory) [depoys unique snapshots](https://repo.spring.io/s

[2015-04-16 12:28] charliem opened #1055 "Jetty Connector Duplicates User Agent"
In v 2.3.1 Jetty appears to be duplicating the user agent header on outbound client connections. Unfortunately this is causing IIS to reject the request entirely. As soon as I remove the Jetty connector the issue disappears.

Below is the request and response taken from wireshark. As you will see it looks like the top user agent is hard coded. The second one is configurable via the ClientInfo obje

[2015-04-17 06:15] jlouvel commented on #1052
@thboileau Can you confirm? This was not my understanding.

[2015-04-17 10:38] thboileau commented on #1054
Thanks a lot for the explanation and documentation.
In order to give more details: we don't own this artefact which is developed by Swagger, and is not, at this time hosted by any maven repository. This leads us to store it into our own maven repository.

[2015-04-17 13:39] thboileau commented on #1055
Thanks for reporting this issue.
The fix will be part of future 2.3.2 release.

[2015-04-17 13:39] #1055 closed

[2015-04-17 14:36] thboileau commented on #1049
Hi @sansjunk , I've made a simple test and it works for me.
I use RF 2.3.1, tomcat 7.0.53, jdk 1.7.0_80, and eclipse kepler.

![java - test-src-test-myapplication java - eclipse - -home-thboileau-workspace-restlet-2 3 _024](https://cloud.githubusercontent.com/assets/1122782/7204104/ed1fea5e-e51f-11e4-8163-bd37bc731d67.png)

[2015-04-17 14:54] thboileau commented on #1046
@templth , something is not clear to me: where does this dependency to Jackson 2.2.4 comes from?
Current release 2.3.1 relies on Jackson 2.4.

[2015-04-17 15:51] thboileau commented on #980
closing this issue since the answer given by @jgustie seems fine to me.
Can be reopened at any time.

[2015-04-17 15:51] #980 closed

[2015-04-17 15:52] #977 closed

[2015-04-17 15:59] thboileau commented on #970
support of simle XML for the Android edition has been added.
https://github.com/restlet/restlet-framework-java/pull/1051

[2015-04-17 18:06] superbob commented on #1054
If it is just for this artifact, you can remove it, then redeploy it, but in a `unique` way

[2015-04-18 09:41] thboileau commented on #1038
Hi @theprivateland , do you have any test case?

[2015-04-18 10:08] thboileau commented on #1042
Hi @kerbymart , if I understand well, you are sending from a GWT application some JSON payload, which is then serialized by the XStream converter.
I guess you are using the Json extension for the GWT edition in order to achieve this task. As this extension leverages the json API (`com.google.gwt.json.client` package) it should give you a full control of the payload. Do you see the generated payloa

[2015-04-18 10:13] thboileau commented on #1043
Hi @kerbymart , I think this is due to the fact that the core module supports only beans (serialized using the GWT serialization format).
The standard way to develop with GWT is to share the same annotated resources that leverages the same beans on both server and GWT client sides, and add the org.restlet.ext.gwt extension on server side. This extension will only be useful for the GWT application.

[2015-04-18 12:39] peterfronc commented on #1038
Thanks for reply, I was forced to use other jax-rs implementation (rest easy from jboss).
The problem was observed while using
@FormParam
Create any standard jax-rs service.
Map the service in web.xml (standard servlet way).
Just send encoded message containing % characters.

This issue occured in past from what I could google, just review encoding steps in framework and ensure its not happening t

[2015-04-18 14:08] thboileau commented on #1040
Hello Roland,

I feel really sorry, it was difficult for me to spend some time on the framework.

The framework has this semantic instead:
- clients send ChallengeResponse to servers in order to authenticate the request.
- servers send ChallengeRequest to clients (in order to say to the client that its request misses right credentials),

this is not really safe. It's better to store the access tok

[2015-04-18 15:57] thboileau commented on #1038
I'm not so happy to have fixed this so easy bug, just now.

[2015-04-18 16:40] peterfronc commented on #1038
So its fixed? Release version?

[2015-04-18 16:58] jlouvel commented on #1038
@peterfronc Thierry made the fix in branch 2.3, so it will be part of version 2.3.2:
https://github.com/restlet/restlet-framework-java/commit/c60c99b70812868301e90b08582207e16d2cd05e?diff=unified

@thboileau Can we fix it as well on "master" branch? I'm reopening to make sure we don't miss this.

[2015-04-18 17:31] peterfronc commented on #1038
Awesome, Ill prepare soon to remove resteasy (very happy).

[2015-04-20 05:07] jlouvel commented on #1038
@peterfronc Happy to help you. BTW, could you describe how Restlet JAX-RS implementation compares with RESTeasy in your project context?

[2015-04-20 07:14] thboileau commented on #1053
checked with @jlouvel , ok for the fix.

[2015-04-20 08:13] thboileau commented on #1053
Thanks @jpstratton  for reporting this issue.
Added a "daemon" property that allows the TaskService, true by default.
It will be part of 2.3.2 coming soon.

[2015-04-20 08:13] #1053 closed

[2015-04-20 09:36] ggeetha opened #1056 "What are the annotations in Restlet framework?"
What are the Restlet Annotations available for API Versioning? And also How to map the version from the API with my source code?

If my API looks like this : http://localhost:8080/example.com/v2/hello
Then In my source code how to map the version with appropriate functionality?
For example :
[code]
If I did like this, Then why we are going for Versioning. We can implement Manually Right? And also

[2015-04-20 10:12] kerbymart commented on #1042
@thboileau Yes I can see the payload now in the browser (but just after applying a fix), here:

http://www.pastekit.com/lWAg6

[2015-04-20 12:13] rcbeuker commented on #1040
Hello Thierry,

Thanks for your time! Our fault we are describing different problems pell-mell...

We are using the Bearer" scheme method as described above from our J2SE clients and its working. There's only a error message. I'll try your AuthenticatorHelper solution for this.

The real problem are the GWT clients. They're not transmitting the token information. Notable, the first round trip is b

[2015-04-21 15:33] wody opened #1058 "Swagger Ext in WildFly8.2 problem"
Using the (jee) swagger extension in Restlet 2.3.1 leads me to a deploy error in WildFly 8.2:

[code]
Is this a known issue?

[2015-04-22 03:56] InfoSec812 commented on #1052
I can confirm. I have tried in multiple ways to get RAML generation to work properly and the RAML extension is far from working.

Here's my latest attempt:

https://github.com/InfoSec812/codepalousa-restlet-raml/tree/restlet-raml-example

[2015-04-22 03:59] InfoSec812 commented on #1052
Also, here is an example of the RAML output of the GitHub project linked above. Note that the JSON and XML schemas are incomplete.

[code]

[2015-04-22 06:28] sansjunk commented on #1049
More details:
Restlet: 2.3.1
Tomcat: Upgraded to 7.0.61
JRE: 1.8.0_40

**Case 1: Running in Eclipse Luna Service Release 2 (4.4.2)**
I am not seeing the exception anymore after upgrading Tomcat from 7.0.52, however I am getting a 404 when trying to fetch the files. See screenshot below:

![running_in_eclipse](https://cloud.githubusercontent.com/assets/1901231/7268418/cebd96cc-e8e6-11e4-8de0-57936e

[2015-04-22 11:57] templth opened #1059 "The protocol war wasn't always correctly registered by the servlet extension"
The protocol `war` wasn't always correctly registered by the servlet extension.

See this StackOverflow question for more details: http://stackoverflow.com/questions/29768643/restlet-servlet-context-always-null/29771120#29771120.

[2015-04-24 12:52] peterfronc commented on #1038
Sorry for late reply, been busy recently.
Restlet is easier to setup and has it better explained, big advantage is also size and speed (not to mention its easy to run it standalone, without web container). Personally I use JAX-RS as Im lazy to rewrite old code, best approach is OO oriented - this is why I am happy to see bugfix. RESTEasy ain't bad... its just big and more complex to configure.

[2015-04-25 22:59] jlouvel commented on #1038
Thanks @peterfronc for the valuable insights.

[2015-04-27 14:37] mastershifu opened #1060 "java.lang.ClassCastException: org.restlet.data.Parameter cannot be cast to org.restlet.data.Header"
I'm using restlet 2.3.1 with CorsService. Http calls do return content as expected, but the following messages appear in the log:

[code]

Can you advice?

[2015-04-28 04:35] jlouvel commented on #1060
It seems to me like you have two different version of Restlet for org.restlet.jar and org.restlet.ext.simple.jar.

[2015-04-28 09:44] thboileau commented on #1058
I see that the `contextResolver` property of the `JaxbProvider` is public. I fix this issue.

[2015-04-28 09:55] thboileau commented on #1058
Thanks a lot for reporting this issue.
I've fixed the 2.3 branch, I will synchronize the master branch soon.
2.3.2 version will be available at the end of this week.

[2015-04-28 11:46] wody commented on #1058
Thanks a lot for addressing the issue that fast.

[2015-04-28 12:01] thboileau commented on #1056
Hello Geetha,
there is no annotations in Restlet Framework dedicated to versioning, but if you plan to version your URIs there are some solutions.

In order to illustrate these solutions, we imagine an application with a single "hello" resource: having this path: `/hello`.

The first implementation of the application is the following:
[code]

Then we want to support versioning via the URI.

1. Bas

[2015-04-28 12:28] thboileau commented on #1038
I plan to release 2.3.2 this friday, and refresh 3.0 branch this week also.

[2015-04-28 12:30] peterfronc commented on #1038
Thanks a lot! Looking forward to it.

[2015-04-28 12:33] thboileau commented on #1049
Thanks a lot for the details.

[2015-04-28 12:46] thboileau commented on #1040
Hello @rcbeuker,

this issue has been fixed in branch 2.3 by this commit https://github.com/restlet/restlet-framework-java/commit/20ebcd67849eb51ca24e1f31d3f6af77adab54e6. I will release the 2.3.2 this friday.
you can test it with the current 2.3 branch.

best regards,
Thierry Boileau

[2015-04-28 12:54] thboileau commented on #1042
Hi @kerbymart
after the fix, do you still have the issue?
Having said that, I'm not able to read the content of the pastekit.com page (the page is unresponsive). Do you mind, pasting the text in a comment?

[2015-04-28 15:03] lotto99 commented on #906
Hello Jerome,
I am back by this problem. Yes I checked the library path, and according system output below, the client is negotiating the handshake obviously from restlet lib (not some internal http client):

[4/28/15 14:46:35:386 CEST] 00000128 restlet       I   Starting the internal [HTTPS/1.1] client
[4/28/15 14:47:35:438 CEST] 00000128 RestClientBas E   HTTP response:
Response status: Error wh

[2015-04-28 16:05] lotto99 commented on #906
My Client is used such way:

httpClient = new org.restlet.Client(ctx, protocol);
Response response = httpClient.handle(request);

Should I try the org.restlet.ext.net.HttpClientHelper as you mentioned this library? I didn't find any tutorial to this..

[2015-04-28 16:19] thboileau commented on #906
Hello @lotto99 , if you want to try this you just to update the classpath of your jvm with:
 - the org.restlet.ext.httpclient.jar file
 - and its dependencies:
  - org.apache.commons.codec v1.5
  - org.apache.httpclient v4.3
  - org.apache.httpcore v4.3
  - org.apache.httpmime v4.3
  - org.apache.james.mime4j v0.7
  - org.apache.commons.logging v1.1

If you have downloaded the framework via the zi

[2015-04-28 18:47] jlouvel commented on #1056
Great explanation @thboileau!
Could we create an "API versionning" page under "Part 2 - Core Restlet / Routing package"?

[2015-04-28 19:15] mastershifu commented on #1060
My project is configured with the following maven deps:

<dependency>
			<groupId>org.restlet.jse</groupId>
			<artifactId>org.restlet</artifactId>
			<version>2.3.1</version>
		</dependency>
		<dependency>
			<groupId>org.restlet.jse</groupId>
			<artifactId>org.restlet.ext.simple</artifactId>
			<version>2.3.1</version>
		</dependency>

Building the project brings the following jars into packagi

[2015-04-28 21:57] jlouvel commented on #1060
I verified the source code, but the only possibility I see is a mix between separate version of RF JARs (such as 2.2 and 2.3). Could you double check your dependencies in the classpath?

[2015-04-28 23:37] notz opened #1061 "Template (thymeleaf) parse error produces never ending request (headers already sent)"
Connection should be closed on IO Exception.

[code]

[2015-04-29 00:26] notz commented on #1061
ServerCall should look like this:

[code]

ServerAdapter should not try to send Error Header after writing Response fails. It will never work, writing again Headers.

[2015-04-29 00:42] jlouvel commented on #1056
See related HackerNews discussion:
https://news.ycombinator.com/item?id=9407776

[2015-04-29 05:05] jlouvel opened #1062 "Support encoding and decoding of non-ASCII characters in HTTP headers"
Via Arjohn Kampman: "Restlet doesn't seem to support the encoding and decoding of non-ascii
characters in http headers; at least not with the 2.2.3 release that
we're using. The encoding of such characters is covered by RFC 5987 and
RFC 6266. Is this already supported by 2.3.1? If not, any chance it can
be added? I'm specifically looking for a way to encode non-ascii
filenames in Content-Dispositi

[2015-04-29 07:05] thboileau commented on #1056
Hi @jlouvel , I keep this ticket open in order to update documentation.

[2015-04-29 07:55] mastershifu commented on #1060
Strange... Basically this app is a WAR deployed into Tomcat instance, and the only relevant jars under WEB_INF/lib are: org.restlet.ext.simple-2.3.1.jar,org.restlet-2.3.1.jar,simple-5.1.6.jar

Can you direct me to possible points in the code where the response headers are set as Parameter? I'll try to debug and determine what may went wrong..

[2015-04-29 11:45] ggeetha commented on #1056
Yeah, thboileau. I did the same thing that you have explained. But what happened was, If I use "if-else", then, if my application grows to 15 versions for example, then the code looks lengthier right? How to overcome this?

[2015-04-29 19:18] mastershifu commented on #1060
In addition, after setting jvm flag -verbose:class, the output indicates that only classes from org.restlet.ext.simple-2.3.1.jar/org.restlet-2.3.1.jar/simple-5.1.6.jar are indeed loaded. Could it be the artifacts at http://maven.restlet.com are somehow mal-packaged?

[2015-04-29 21:42] jlouvel commented on #1060
Could you try switching to the Jetty extension and see if it still occurs?
@thboileau Do you know why @mastershifu is getting this error?

[2015-04-30 07:04] mastershifu commented on #1060
Switched to jetty, same errors, again this is happening only with CORS requests:

Apr 30, 2015 6:59:46 AM org.restlet.engine.adapter.ServerAdapter addResponseHeaders
WARNING: Exception intercepted while adding the response headers
java.lang.ClassCastException: org.restlet.data.Parameter cannot be cast to org.restlet.data.Header
        at org.restlet.engine.header.HeaderUtils.addExtensionHeaders(H

[2015-04-30 12:06] thboileau commented on #799
Hello @tliron , we will take this issue in the 2.3.2 release.

[2015-04-30 15:53] thboileau opened #1063 "Complete ResourceException with Request and Response attributes."
Such enhancement should ease the handling of errors.

[2015-04-30 17:42] thboileau commented on #1031
@gonzajg , I would like to keep it open.

[2015-04-30 17:45] thboileau commented on #948
may be linked with a bug detected while handling this issue #799.

[2015-04-30 17:47] thboileau commented on #796
sample code recovered.

[2015-04-30 17:47] #796 closed

[2015-04-30 17:53] jlouvel commented on #1060
@thboileau Is it related as well to this bug/commit you just fixed?
https://github.com/restlet/restlet-framework-java/commit/92ce087668b878eefa83f7d03342fe102d2baf9e

[2015-04-30 17:55] thboileau commented on #1060
@jlouvel , well I don't think so, but I check.

[2015-04-30 18:16] mastershifu commented on #1060
Is there a way to push this fix to 2.3.x so I can test it? Should I downgrade to 2.2.x?

[2015-04-30 18:18] thboileau commented on #1060
Hi @mastershifu , this fix is available from the `apispark-v3.8.1` tag.

[2015-04-30 18:25] thboileau commented on #1060
Do you have any reproducible test case?

[2015-04-30 18:47] mastershifu commented on #1060
I'll describe the situation: I've some ServerResource serving GET request bundled into a WAR files and deployed to Tomcat instance. If I issue a request via browser or curl, the content is served as expected with 200OK. But if the same request is issued from a html page (hosted on the same tomcat instance), then content is still served, but the browser console reports 500 Server error, and the exc

[2015-04-30 18:51] thboileau commented on #1060
Sorry, there is no test case (in the org.restlet.test module) for cors, at this moment.

[2015-04-30 19:37] rbrecheisen opened #1064 "Changing status description of ResourceException not visible in client"
Hi,

Whenever I try to change either the description or reason phrase of the Status object of a server-side ResourceException this change is not visible on the client side. For example, I throw a ResourceException on the server side as follows:

[code]

or

[code]

When I catch this exception in the GWT client, both the description and reason phrase are reset to their default values, namely descri

[2015-04-30 19:41] mastershifu commented on #1060
Sorry, appear to be our side fault.. We implemented a CORS filter when we used 2.2.x, and forgot to remove it when switched to 2.3.1..

Sorry for the false alarm!

[2015-04-30 19:41] #1060 closed

[2015-04-30 20:24] thboileau commented on #1060
Hi, that's fine, your problem is solved!

[2015-05-01 05:23] jlouvel commented on #1063
Sounds like a good idea, but IMO not for RF 2.3 due to the public API impacts. Can you merge this in master?

[2015-05-01 06:27] thboileau commented on #799
Fixed also a bug that prevent to detect if a header is standard or not.

[2015-05-01 06:27] #799 closed

[2015-05-01 06:43] #944 closed

[2015-05-01 06:43] thboileau commented on #948
Thanks for reporting this issue. it has been fixed and will be available in 2.3.2.

[2015-05-01 06:43] #948 closed

[2015-05-01 06:43] thboileau commented on #944
Thanks for reporting this issue. it has been fixed and will be available in 2.3.2.

[2015-05-01 07:33] thboileau commented on #1027
Hello @Titiery , sorry for the delayed response.
Yes, you should precise concrete content-type value, instead of using "*/*". In other words, you should use the media type that would be returned by a GET method.

Another way, is to prevent such cases by setting a filter in front of the directory. This filter removes the media type in case this media type is not concrete:

[code]

[2015-05-01 07:33] #1027 closed

[2015-05-01 08:03] thboileau commented on #1007
Added warning.

[2015-05-01 08:03] #1007 closed

[2015-05-01 08:17] thboileau commented on #1054
The swagger-models artefact is available from Maven central repository, version 1.5.3-M1

[2015-05-01 10:10] boillodmanuel commented on #1063
Commit pushed on branch `apispark-3.8` with no API impacts.

[2015-05-01 12:50] thboileau commented on #1059
Actually, the war client is correctly set, the topic is about the context of the application and the moment it is set.
Following the StackOverFlow question I set up the following elements:

 - web.xml: define my own Component.
[code]

 - Own Component: attach the application after the component has been started
[code]

[2015-05-01 13:20] thboileau commented on #1061
Thanks for reporting this issue. I see several issues, the one you point (never ending request), the fact that the error response cannot be sent properly (message `headers already sent`).

For a production environment, I suggest, as a side note and not as a workaround, to use another server connector (such as the one based on Jetty `org.restlet.ext.jetty`, or simple `org.restlet.ext.simple`). Your

[2015-05-04 08:14] wody commented on #1058
I can confirm this is now working with the current 2.3.2 version

[2015-05-04 11:05] krichter722 opened #1065 "Add (link to) build instructions to README.md or INSTALL"

[2015-05-04 15:04] jlouvel commented on #1058
Thanks for the follow-up @wody

[2015-05-04 15:04] #1058 closed

[2015-05-05 04:00] yezgar commented on #991
I have the same question.
Is it possible create a REST server on android?
How?

[2015-05-05 04:01] jlouvel commented on #1065
Are you looking at this file:
https://github.com/restlet/restlet-framework-java/wiki/Building-the-source

or at the Maven instructions:
http://restlet.com/downloads/current/

[2015-05-05 09:42] krichter722 commented on #1065
So, where to add it? `README` or a seperate `INSTALL` file?

[2015-05-05 16:38] jlouvel commented on #1065
I'd like to clarify what you are looking for. Do you want to rebuild the Restlet Framework based on its source code, or do you want to know how to install it to develop your own web APIs/apps on top of it?

[2015-05-07 09:36] jfdaune opened #1066 "'Memory effect' for a resource"
I experience strange behaviour with Restlet 2.3.1.

I have a resource with @Get, @Post and @Delete method. What I see is Restlet keeps calling the first method it encounters.

So, if the first call is GET, if I issue a DELETE or a POST, the @Get callback is always called. It is like Restlet is stuck. Below a piece of log showing that 'GET' is called if a DELETE is received (CURL as client)

DEBUG

[2015-05-07 09:37] jfdaune commented on #1066
I shall mention that I use Spring to configure the resources. Might be linked to that...

[2015-05-08 08:19] thboileau opened #1067 "JsonRepresentation should persist the object (JsonArray, JsonObject, etc) once representation has been parsed"
Just as the jacksonRepresentation does.

[2015-05-08 10:08] thboileau commented on #1038
Branch 3.0 refreshed. closing.

[2015-05-08 10:08] #1038 closed

[2015-05-08 12:59] thboileau commented on #973
Hello @ralphvanetten ,

sorry for the late answer.
After having read some documentation, especially this page "http://developer.android.com/reference/org/apache/http/impl/client/DefaultHttpClient.html", I think it should be better to rely on the default client connector based on the HttpUrlConnection class. I read:

@jlouvel, @ralphvanetten, do you think we should ship the Android edition with the

[2015-05-08 13:08] thboileau commented on #800
done in RF 2.3.
HttpClient has been removed in 3.0 in favor of the netty extension.

[2015-05-08 13:08] #800 closed

[2015-05-08 13:13] thboileau commented on #1040
Hi,
@rcbeuker , did you have time to test RF 2.3.2? Does it fix your issue?

I close this issue, since the fix should be fine, but feel free to reopen it!

Best regards,
Thierry Boileau

[2015-05-08 13:13] #1040 closed

[2015-05-08 13:37] thboileau commented on #938
Hi @mcartaud, thanks a lot for reporting this issue, and sorry for the late response.
I was able to install the 2.3.2 release.
feel free to reopen it.

[2015-05-08 13:37] #938 closed

[2015-05-08 13:39] thboileau commented on #1066
Hello @jfdaune , could you provide a sample test case?

[2015-05-08 16:05] thboileau commented on #1064
At this time, the onFailure callback is called with a ResourceException parameter instantiated with the status of the response. It totally ignore the content of the response wich is a StatusInfo object serialized.

[2015-05-08 18:33] thboileau commented on #1064
Hi @rbrecheisen ,

I've spent some time to find a workaround, and just a workarount. We need more time for a correct integration into the framework.

The main trick is to convert a:
 - `org.restlet.engine.application.StatusInfo` instance on server side, into a
 - `org.restlet.client.engine.application.StatusInfo` instance on client side

Since the GWT serialization conveys the full class name into

[2015-05-08 20:36] bill-okara opened #1068 "Restlet 2.3.2 jee apispark Swagger integration broken"
org.restlet.jee:org.restlet.ext.swagger:jar:2.3.2  has a dependency on:
   com.wordnik:swagger-models:jar:1.5.3-M1
      com.wordnik:swagger-annotations:jar:1.5.3-M1

But swagger-annotations-1.5.3 has changed the ApiOperation.tags from:
String tags()
to
String[] tags()

As a result, the code in:
org.restlet.ext.apispark.internal.introspection.helper.SwaggerAnnotationUtils

    public static void p

[2015-05-08 23:12] bill-okara commented on #1068
turns out this could be a maven dependency issue, that is, in maven, swagger-models 1.5.3-M1 depends on swagger-annotations 1.5.3-M1

[INFO] |  +- com.wordnik:swagger-models:jar:1.5.3-M1:compile
[INFO] |  |  \- com.wordnik:swagger-annotations:jar:1.5.3-M1:compile

but APISpark seems to only want swagger-models 1.5 and swagger-annotations 1.3...

org.restlet.ext.apispark (Restlet Extension - APISpa

[2015-05-09 06:36] thboileau commented on #1061
Hi @notz ,

do you mind signing the JCA (https://github.com/restlet/restlet-framework-java/wiki/Contribute#submit-contributions) and send it back to us (contact@restlet.com)? It will allow me to integrate your contribution.

Best regards,
Thierry Boileau

[2015-05-09 07:10] thboileau commented on #819
Hi @mafuba,

I'm really sorry for the late answer.

I've tested the following code:

- Application:
[code]
- Resource
[code]
Then I call GET on "/test/col:on" and it answers: "col:on". If I call GET on "/test/col%3Aon" and it answers: "col%3Aon"
Which test case is wrong for you?

[2015-05-09 08:05] thboileau opened #1069 "Redirector does not translate response's entity location reference."
This lead to expose the URL of the redirected site.
The translation is already done for response's location (i.e.: header `Location`), this should be done also for the header `Content-Location`.

[2015-05-09 08:07] thboileau commented on #1069
added a Redirector#rewriteLocation method.

[2015-05-09 08:11] #1069 closed

[2015-05-09 09:54] thboileau commented on #773
Hi @caleryn ,

I've made some tests, tring to reproduce your issue, using RF 2.3.2, but vainly.
My test case is composed of 2 applications (RedirectorApplication, and RedirectedApplication). The former redirects any call to the latter, and in addition, decodes any encoded representations. The latter encodes any representations, using the Encoder.

 - RedirectedApplication
[code]
 - RedirectorAppli

[2015-05-09 14:02] thboileau commented on #804
Thanks @thatsnotright , I've fixed the issue, and added a test case.
It will be part of release 2.3.3.

[2015-05-09 14:02] #804 closed

[2015-05-09 15:04] thboileau commented on #1012
There seem to be several issues with the Jetty's client connector.
 - there is no way to configure the buffer size of the instance of the `InputStreamContentProvider` used to read from the file input stream (cf class `JettyClientCall`)
 - the idleTimeout seems short enough (though its default value is 60 sec) to cut the connection, but at the same time, I still see some content sent by the jetty c

[2015-05-10 05:50] 452 commented on #192
add examples on main site, with android also =)

[2015-05-10 11:02] thboileau commented on #1056
I'm sorry @ggeetha , the framework doesn't address such issue, and I'm not sure the other ones (such as jersey, etc) too. To my mind, it's much more a developer problem.
For good reasons, your code is becoming more and more complex leading you to handle several versions of your API. Then, you're right, your code will be lengthier. At the beginning, it may be fine to handle such (little) complexity

[2015-05-10 11:02] thboileau commented on #1056
if you agree, we will close this issue.

[2015-05-10 12:01] thboileau commented on #1049
Hi @sansjunk , here is my sample code (eclipse project). Could you check it? https://restlet.com/technical-resources/restlet-framework/archives/misc/2.3/testjee.zip

[2015-05-11 05:23] jlouvel commented on #973
@thboileau I think we should keep it as is in RF 2.3, also it has already been removed from master/RF 3.0

[2015-05-11 05:48] ralphvanetten commented on #973
Although it might be better to use HttpURLConnection, I need to use `PATCH` which seems not to be supported by HttpURLConnection.

[2015-05-11 05:50] jlouvel commented on #192
There is an ongoing effort to add a Netty connector which has some WebSocket capabilities that will make it easier to map to the Restlet API

[2015-05-11 05:55] ggeetha commented on #1056
Yeah. I will try to think some other way to solve this. Thank you @thboileau. We can close this issue.

[2015-05-11 07:13] thboileau commented on #1056
ok, closing.

[2015-05-11 07:13] #1056 closed

[2015-05-11 14:51] mafuba commented on #819
Wow, it's been a while. Let me see if I can figure out what I was talking about. :-)

[2015-05-11 15:04] mafuba commented on #819
Okay, it was the second case that was unexpected. Some tool or browser wouldn't send a colon in the URL and automatically encoded it, and I think I expected it to come back out as a colon regardless of whether it was encoded or not.

[2015-05-12 10:05] maxhille commented on #556
Just noticed this forever-open issue. Closing it because it has probably been superseeded by something else by now.

[2015-05-12 10:05] #556 closed

[2015-05-12 11:01] jfdaune commented on #1066
I think I found the 'problem'. The following annotation to the server resource solves my problem:
@Scope(value = ConfigurableBeanFactory.SCOPE_PROTOTYPE)

Despite having a solution, I would like to understand what happened. So, if anyone can shed some light on this issue, I'll grateful.

[2015-05-12 12:41] thboileau commented on #556
linked to #924

[2015-05-13 15:43] theprivateland opened #1070 "No ExceptionMapper was found, but must be found."
I'm experiencing exception in jax-rs mapped resources and I cannot get any output while application complains for no default exception mapper with following message:
"No ExceptionMapper was found, but must be found"

I'ts a bit frustrating and no documentation is to be found online. I know that jax-rs enables you to add custom mappings but for some reason there is not default mapper (??).

How can

[2015-05-13 16:32] theprivateland commented on #1070
I have also experienced another oddity while debugging the problem.
First form parameter in post message is null always (in browser I can see its being sent, its name is "name"). Is there anywhere known issues list for jax-rs with restlet?

This is how I've noticed no default exception mapper.

[2015-05-15 02:34] andyxf1029 opened #1071 "Swagger2.0 integration have issue for annotation in interface"
public static List<Class> getAllResources(Application application,
			List<Class> resources) {
		List allResources = new ArrayList();
		Iterator i$;
		if (application != null) {
			if (application.getClasses() != null) {
				allResources.addAll(application.getClasses());  // here use class , not interface
			}
			if (application.getSingletons() != null) {
				for (i$ = application.getSingletons().

[2015-05-15 18:39] edouardmercier opened #1072 "A problem with the JaxRsClientResource with HTTP POST web services"
Hello.

While attempting to play with the `JaxRsClientResource` in order to invoke web services developed with Restlet v2.3.2, running in GAE flavor, following the JAX-RS paradigm, I went into an issue when attempting to run a `POST` HTTP method. The HTTP `GET` web services are fine, however.

Let's say that my JAX-RS web service interface is something like
[code]
As soon as I attempt to invoke th

[2015-05-15 19:37] tliron opened #1073 "StatusService.setOverwriting is not used"
This value does not seem to be used anywhere.

It should either be implemented or deprecated.

[2015-05-15 19:56] Tembrel commented on #1073
The StatusFilter constructor calls `StatusService.isOverwriting` to provide an initial value for the service's `overwriting` property, which __is__ used:

https://github.com/restlet/restlet-framework-java/search?utf8=%E2%9C%93&q=isOverwriting&type=Code

[2015-05-15 21:05] tliron commented on #1073
Ah. Perhaps it's worth documenting this better in StatusService?

[2015-05-15 23:05] Tembrel commented on #1073
Indeed. I've changed the title to reflect that.

[2015-05-16 08:59] thboileau commented on #1073
Hi @tliron , @Tembrel , I've added a comment.
Does it suit you?

[2015-05-16 09:09] tliron commented on #1073
I think it would be a good idea to document this in StatusService, too, because the lack there is what brought me to open this issue.

Well, I've said this a few times before: Restlet JavaDocs are far too terse and could use a major beefing up, but that would be a whole project in itself.

[2015-05-16 09:12] thboileau commented on #1072
Hi @edouardmercier, when issuing calls to resources hosted by the GAE platform, you must ask the client resource to buffer the entity in order to compute the content-length.
Just call the `setRequestEntityBuffering` method with the `true` value.

[2015-05-16 09:37] thboileau commented on #1061
Hi @notz ,
thanks for the JCA, I've integrated the fix for the never ending call issue.

[2015-05-16 09:58] edouardmercier commented on #1072
Thank you so much @thboileau: I was not aware of this `ClientResource.setRequestEntityBuffering()` method, which actually enables the caller to compute the HTTP `Content-Length` header. This now works like a charm.

However, as I mentioned, even if the `POST` body should be empty, the HTTP request is done with a body corresponding to the last `@QueryParam` text representation, which is very likely

[2015-05-16 16:05] thboileau commented on #1072
Hi @edouardmercier ,
Thanks a lot for reporting this issue, I've added a fix and also took into account FormParam annotations.
It will be part of release 2.3.3.

Best regards

[2015-05-16 16:37] thboileau commented on #1070
Hello @theprivateland ,
do you have any sample code?
I've also fix some bugs (cf ticket #1072 ), I wonder if it will help you.

best regards,
Thierry Boileau

[2015-05-16 16:38] #1072 closed

[2015-05-16 18:36] jlouvel commented on #1073
I agree for the documentation front. The version 3 is the opportunity for a major overhaul. Here is what I have in mind:
  * revisit introduction (hello world, guided features tour)
  * rework user guide (move reference content to Javadocs, replace with tutorial/best practice/cookbook content)
  * improve javadocs (deeper content, consistent navigation bar with product logo, fix links)

This way,

[2015-05-16 22:39] jlouvel commented on #1066
Normally, Restlet creates a new instance of your ServerResource per API call, so if you share the same instance for multiple calls with Spring, there might be an issue.

[2015-05-18 06:36] edouardmercier commented on #1072
Thank you @thboileau.

[2015-05-18 12:48] caleryn commented on #773
@thboileau I will have a look to see if the issue still exists in 2.3.x for me, it is possible that it was an issue with the connectors used at the time, or that other changes made since have also fixed this.

[2015-05-21 16:20] thboileau opened #1074 "Restlet, CLAP, Ajax, and chunk timeouts"
cf this question on stackoverflow:
http://stackoverflow.com/questions/21339855/restlet-clap-ajax-and-chunk-timeouts

[2015-05-25 06:38] skrishnaprasad opened #1076 "https server on android L leading to exceptinon"
When I try to run an https server connection using nio https helper I run in to execeptions when ever I try to make a connection.

5-23 14:57:22.970: W/System.err(13593): NIO controller selected 1 key(s) !
05-23 14:57:23.005: W/System.err(13593): Unexpected error while controlling connector
05-23 14:57:23.005: W/System.err(13593): java.lang.IllegalStateException: Handshake has already been started

[2015-05-25 15:58] thboileau opened #1077 "programs leveraging the Jetty client hang"
Sample code:

[code]

The programs displays the "end" trace, but stil hangs.

[2015-05-25 15:59] thboileau commented on #1077
One workaround is to explicitely stop the client connector:
[code]

[2015-05-25 16:35] thboileau commented on #1076
Hi @skrishnaprasad could you precise the version of RF, the kind of RF extensions you are using?

[2015-05-28 15:36] notz opened #1080 "OAuth refresh token request without scope throws a NPE"
[code]

The scope should be always included if the requested scope is null in AccessTokenServerResource.requestToken.

[code]

[2015-05-29 07:35] thboileau opened #1081 "How to send POST requests using JaxRsClientResource"
mail sent by Hassene Ben Amara

[2015-05-29 09:29] thboileau commented on #1081
I've tested your interface (by removing the `consumes` and `produces` annotations which are not taken into account by the jax-rs client, as I notice in the source code. and it works for me.

[2015-05-29 12:27] thboileau opened #1082 "JaxRs client does not leverages the @Consume and @Produces annotations."

[2015-05-29 13:55] hbenamara commented on #1081
Hi Thierry,

Thank you very much for your help!
I do have the @Path("/applogin") annotation already at the interface level, I removed the consume and produce as u suggested but still the HTTP request issued is of type GET.

Can you please share your working version, I might be missing something.

thanks

[2015-05-29 14:02] thboileau commented on #1081
Hi @hbenamara , I send you my sample Eclipse project.

[2015-05-29 15:58] thboileau opened #1084 "Complete documentation for the Jax-rs extension."
Add a more complete documentation (using PUT, DELETE, POST methods), provide source code.

[2015-06-02 07:38] templth opened #1086 "Can't use header `Authorization` with no challenge scheme"
It seems that it's not possible to use an header `Authorization` with the following format:

    Authorization: myToken

Challenge scheme seems mandatory (see `AuthenticatorUtils#formatRequest`):

    Authorization: SCHEME something

Moreover from version 2.3.2, we can't define anymore the header using custom headers:

    Addition of the standard header "Authorization" is not allowed.

See follow

[2015-06-02 17:14] thboileau commented on #1086
Having a look at the HTTP RFC, it appears that the Authorization header should (perhaps must) mention the scheme (cf https://tools.ietf.org/html/rfc7235#page-4).
It appeared that some versions allowed to specify the values of the so-called "standard" headers such as `authorization`. This was a regression fixed by this commit (44afd972f43d1eb18248b1c689894a643269157e) and shipped with 2.3.2.

[2015-06-03 08:10] sansjunk commented on #1049
Sorry for getting back late on this. I am not able to find the zip file, has the link expired?

[2015-06-03 09:33] thboileau commented on #1049
Hi @sansjunk , my bad, I've recovered the file, it is now available.

[2015-06-03 14:21] thboileau commented on #1080
Hi @notz, thanks a lot for reporting this issue, it is now part of 2.3 and 3.0 branches.

[2015-06-03 14:21] #1080 closed

[2015-06-05 09:59] twilek opened #1088 "CORS implemenatation broken after upgrading to version 2.3.2"
I have my own implementation of core, where I use the Access-Control-*-headers as custom headers. But after upgrading to 2.3.2 this implementation all of the sudden stopped working and the log was telling me "ddition of the standard header "Access-Control-Allow-Origin" is not allowed. Please use the equivalent property in the Restlet API."

After that I noticed that the CORS headers now have their

[2015-06-05 12:41] sansjunk commented on #1049
Hi @thboileau thanks for the sample code - it helped me track down the issue which was being caused by an old version of Tomcat library being used in the project (catalina.jar). After updating to the latest version of the library the exception is not happening anymore and the static files are being served correctly. Thanks for the support, I'll be closing this issue.

[2015-06-05 12:41] #1049 closed

[2015-06-06 12:44] jlouvel opened #1091 "Introspector documentation needs improvement"
The Javadoc page of the Introspector is here:
http://restlet.com/technical-resources/restlet-framework/javadocs/2.3/jse/ext/org/restlet/ext/apispark/Introspector.html

This page doesn't contain any information on the parameters supported by the Introspector program.
Also, it doesn't include an hyperlink to the dedicated page in the User Guide which is:
https://restlet.com/technical-resources/restl

[2015-06-08 12:52] theprivateland commented on #1070
Its just a service throwing exception due to form parameter being null.

It is more flustrating, actually formparam being unset is more important bug than the empty exception.

Application structure:

//jax-rs app
public class JaxRsApp extends JaxRsApplication {
  public JaxRsApp (Context context) {
    super(context);
    this.add(new RestServiceApp());
  }
}

// the app:
public class RestService

[2015-06-08 12:52] theprivateland commented on #1070
Sorry for late reply, got busy on other things.

[2015-06-08 17:12] theprivateland opened #1094 "@POST Method with JAX-RS does not work correctly."
I have been trying and testing but this is just very hard, tried everything, I think it's just not stable enough.

When you submit any form with JAX-RS mapping using @POST annotation, all form fields annotated with @FormParam are null.

It just does not work at all. Its quite critical as making removing restlet from use (really trying hard to keep using it as api is very nice for other parts).

[2015-06-09 10:33] theprivateland commented on #1094
Anyone? Its quite critical.

[2015-06-09 12:30] lotto99 commented on #906
Hello Restlet guys,
I successfully solved the "unstable conection" problem with your help.
Hopefully it helps somebody else. Thanks for help.

I used it like this:
HttpClientHelper httpClientHelper = new HttpClientHelper(new Client(ctx, protocol));
// Ask the HTTP client connector to handle the call
Response response = new ClientResource(url).getResponse();
httpClientHelper.handle(request, respons

[2015-06-11 08:29] twilek opened #1098 "language can not be used as query parameter"
I try to use language as a query parameter to one of my routes but when accessing getQueryValue I just get null. If I change the parameter name to languageTag everything seems to work. Is this expected or a bug? (I use Restlet 2.3.2)

[2015-06-13 12:44] thboileau commented on #1098
Hello,
This is a side effect of the Tunnel Service (cf http://restlet.com/technical-resources/restlet-framework/guide/2.3/core/services/tunnel).
The `language` query parameter is used to compute preferences based on language (and mimic the `accept-language` header).
You can control this by calling `TunnelService#setLanguageParameter(String)` method, or by turning the preference tunnelling by calli

[2015-06-13 15:00] thboileau opened #1099 "Support spaces in the annotations"
as reported [here](http://stackoverflow.com/questions/30704998/restlet-using-custom-media-type), it will help to support spaces in the annotations, and ease user's life.

[2015-06-13 15:02] pffy commented on #1099
+1

[2015-06-13 15:10] thboileau commented on #1094
Hi @theprivateland ,

I've tried the following and it works for me using curl:

The server resource class:
[code]

The curl command line:
[code]

[2015-06-13 15:14] thboileau commented on #1094
Having said that the jaxrs client is bugged.
The following does not work as the client just send the value, and not a real form.
[code]

[2015-06-15 08:24] #1099 closed

[2015-06-15 11:27] theprivateland commented on #1094
I tried and I have null... I have some filters set etc, but with jersey there are no nulls.

Screen from postman:

I'll try with all filters disabled etc.

Peter Fronc
Software Engineer

Mobile: +44 75 74 94 54 64
E: peter@theprivateland.com <mailto:peter.fronc@qubitdigital.com>
Skype: piotrek.fronc

[2015-06-15 11:48] thboileau commented on #1094
Hi @theprivateland , I've tried with this signature for the interface and it works for me. I send you my eclise project:

[code]

[2015-06-15 12:10] thboileau commented on #1094
I've sent you my sample project that works with the current state of the 2.3 branch, which is the 2.3.2 release + some fixes, especially this one: c1698622d5b1d22b4aabdd8daaf168dc91fc7e17
The next release will be available in a few days.

[2015-06-15 13:07] theprivateland commented on #1094
Thanks, I will re-check everything, it may be something odd. Maybe some jars conflict. If you get the value it may be something wring in my setup, no magic in java.

Peter Fronc
Software Engineer

Mobile: +44 75 74 94 54 64
E: peter@theprivateland.com <mailto:peter.fronc@qubitdigital.com>
Skype: piotrek.fronc

[2015-06-15 14:03] theprivateland commented on #1094
One more thing, Im deploying app with servlet mechanism, not standalone app, it may be worth checking with tomcat instance.

Jars included:

Peter Fronc

Software Engineer

Mobile: +44 75 74 94 54 64
E: peter@theprivateland.com <mailto:peter.fronc@qubitdigital.com>
Skype: piotrek.fronc

[2015-06-15 14:19] theprivateland commented on #1094
I got it now! It set's null when:
Content-Type:application/x-www-form-urlencoded

Is set! IF I set raw value:

Content-Type:text/plain;charset=UTF-8

I get the form param in!

Please see screens below:

And the null:

Clearly, form headers settings are damaged. Can it be fixed? It's quite urgent to me. I don't wanna roll back top old dodgy jersey.

Peter Fronc
Software Engineer

Mobile: +44 75 74

[2015-06-15 14:21] peterfronc commented on #1094
I will keep posting directly in here, I can see some odd mail handling from git.

[2015-06-15 14:22] peterfronc commented on #1094
Can you remove please my contact details? (just delete all messages, Ill add full summary below).

[2015-06-15 14:25] peterfronc commented on #1094
The core of issue seems to be related to Content-Type headers, the values are set only for raw text values.
It set's null when:
Content-Type:application/x-www-form-urlencoded

If I set header to raw value:

Content-Type:text/plain;charset=UTF-8

I get the form parameter.

Clearly, form headers settings are damaged. Can it be fixed? It's quite urgent to me. I don't wanna roll back top old dodgy jer

[2015-06-15 14:28] peterfronc commented on #1094
Sorry for switching accounts (i have two profiles). Anyway, I think something is definitely buggy, I checked requests at filter levels and they all contain values. When it reaches the service - any thing else than raw content type is nulled - it applies for any method (PUT as well).

[2015-06-16 10:05] peterfronc commented on #1094
I'll be patiently awaiting for the release. I could use forms but its about moving away from jersey, I would have to re-implement 20 classes with plenty of services.

[2015-06-18 09:35] neothemachine commented on #896
What's the status of this?

[2015-06-18 17:53] jlouvel commented on #896
No special progress so far but this should be really easy to add, replicating the code in JacksonConvert for JSON, XML and YAML. Happy to guide you if you want to work on a pull request.

[2015-06-18 18:35] neothemachine commented on #896
So how do I start? The build system seems to be a bit more complicated than say standard Maven projects. But as the changes are quite easy would you be fine with me implementing it and you building/testing it?
 (btw all links on http://restlet.com/technical-resources/restlet-framework/guide/2.3/editions/overview are dead)

[2015-06-18 18:42] jlouvel commented on #896
No worry about Restlet build system or unit tests packaging, we can help with this once you get something working locally.

Here is the location of the code base:
https://github.com/restlet/restlet-framework-java/tree/master/modules/org.restlet.ext.jackson/src/org/restlet/ext/jackson

Jackson dependencies are here:
https://github.com/restlet/restlet-framework-java/tree/master/libraries/com.fasterx

[2015-06-19 14:40] thboileau commented on #1094
Hi @peterfronc, the content-type header is correct.
By using the @FormParam annotation, it really sends a web form, denoted by the "application/x-www-form-urlencoded" media type.

[2015-06-19 15:14] peterfronc commented on #1094
Yes, correct. What happens is that when "application/x-www-form-urlencoded" is set on header, the form values are null. If in my page client I set header to "plain/text" the values are set.
So it should be that default is the forms reading applied (url-encoded).
Any news on when the release will be updated?

[2015-06-19 15:36] thboileau commented on #1094
Sorry, I mean - using the sample application I've sent to you plus the future 2.3.3 - the Jaxrs client request sent is correct, and the Jaxrs server correctly understands the response.
I think the 2.3.3 will be fine on monday.

[2015-06-19 15:46] peterfronc commented on #1094
Thanks a lot, Ill try it on Monday.

[2015-06-20 10:14] thboileau commented on #1086
One workaround is to  use an "empty" challenge scheme:
[code]

[2015-06-21 22:38] tliron opened #1108 "Support Jetty 9.3 and HTTP/2"
Actually, I've already started working on this, so just keep it assigned to me.

Just making sure an issue is open for tracking purposes.

Notes:
- Jetty 9.3 requires JVM 8.
- Some internal APIs have changed, so that the current connector code will _not_ work.

[2015-06-21 23:01] tliron opened #1109 "Missing support for Access-Control-Max-Age (CORS header)"
The API should probably be Response.setAccessControlMaxAge.

It would also be nice if the CorsFilter and CorsService supported this.

[2015-06-22 04:42] jlouvel commented on #1108
Sounds good Tal, looking forward to this support.
Java 8 will be mandatory in RF 3.0 (master branch).

[2015-06-23 06:23] andrew-tse opened #1110 "Infinite waiting after executing REST request on IBM AIX platform"
Here is the restlet.jar file content that I am using. I think it is version 2.0 or earlier.
![restlet-jar](https://cloud.githubusercontent.com/assets/12999827/8298562/c0ddfbbe-199c-11e5-8d1d-cddd7f13f36a.png)

Here is client side code snippet:
![gnericclient-snippet](https://cloud.githubusercontent.com/assets/12999827/8298616/a50ac718-199d-11e5-8b7e-3b49cc8a304f.png)

After invoking Client.handle(

[2015-06-23 14:13] thboileau commented on #1110
Hello,
could you list the jars of Restlet Framework that you are using (org.restlet.jar, etc) ?

[2015-06-23 20:21] jlouvel commented on #896
@neothemachine Thanks for the pull request, it looks good! Could you send us the signed JCA so we can merge this PR? https://github.com/restlet/restlet-framework-java/wiki/Contribute

[2015-06-24 03:44] andrew-tse commented on #1110
Hi thboileau,

Thanks for your promptly reply!

the jars of Restlet Framework that we are using are:
![org restlet-jars](https://cloud.githubusercontent.com/assets/12999827/8322130/16c655be-1a63-11e5-8f37-e6351ff4ebe0.png)

and classes that we utilized are:
![genericclient-import](https://cloud.githubusercontent.com/assets/12999827/8322166/a87ecb80-1a63-11e5-9da5-fb8aab8bcf9a.png)

We did not test

[2015-06-26 01:17] zsoltszloboda opened #1112 "LOCK and UNLOCK methods are NOT safe"
org.restlet.data.Method defined LOCK and UNLOCK methods as safe; however they are not safe, according to the WevDav RFC: http://www.webdav.org/specs/rfc4918.html
(Restlet version: 2.3.1 GAE)

[2015-06-26 01:34] thboileau commented on #1112
hi @zsoltszloboda, thanks for reporting this, you're totally right.

[2015-06-26 07:14] ralphvanetten opened #1113 "Is the mailinglist still around or how to get community support?"
There used to be a mailinglist but it is not mentioned anymore on the website. It only mentions Stack Overflow, which is not to be used as a forum for asking generic questions about restlet.
I think githubs issues are only ment for bugs/feature requests.
So where can I ask questions about restlet?

[2015-06-29 20:06] kugtong33 opened #1115 "Getting ResourceException messages without <html> tags"
We are getting resource exceptions by using `setEntity()` in the `Resource` like this

[code]

Then in our `Restlet Client` we get the messages by using `getEntity()`

[code]

To notify the exception message we get it like this

[code]

In the previous releases, `2.1.x` this was working right but when we upgraded to `2.3.x` it didn't work right.

How can I remove the `<html>` tags when getting exc

[2015-07-03 10:32] danipenaperez opened #1116 "Restlet on jdk 1.6, its possible?"
Hi all,
I´m triying to run restlet on a JVMEmbebed which has restricctions from Jre 1.6.

java.lang.UnsupportedClassVersionError: org/restlet/Restlet : Unsupported major.minor version 51.0

Any suggest?

Thanks in advance!

[2015-07-04 10:05] neothemachine commented on #896
I sent you the JCA, anything else to be done?

[2015-07-06 19:12] tliron commented on #1108
Just updating that the basic server and client connectors work and are stable (tested on production for 2 weeks...). Still no work on HTTP/2 yet (the API is very different from SPDY).

You can follow progress here: https://github.com/tliron/restlet-jetty9

[2015-07-06 19:48] rcbeuker opened #1118 "Missing JAR files in GAE package for ClientResource support on Google App Engine"
I have a Restlet server application on Google App Engine  that needs to call other resources (via HTTPS). When i just try the ClientResource i get an error;

On stackoverflow there's a post about this;

http://stackoverflow.com/questions/14206607/calling-restlet-client-resource-from-server-resource-causes-http-404-error

I'm running Restlet from a Servlet with a ServletAdapter so i've access to th

[2015-07-06 21:30] jlouvel commented on #1118
Hello, did you add the parameter to the Servlet config?

                 <init-param>
                         <param-name>org.restlet.clients</param-name>
                         <param-value>HTTP HTTPS FILE</param-value>
                 </init-param>

[2015-07-06 21:31] jlouvel commented on #1108
Cool, thanks for the update. Hope the HTTP 2 integration would be too difficult. Let me know if I can help

[2015-07-07 08:44] rcbeuker commented on #1118
Hello Jerome,

I'm working with Guice and therefore i don't have a Servlet config in my web.xml

[code]
And the connected DispatchServletModule
[code]
How do i configure the extra parameters with Guice?
Do i need this extra paramaters? Because i already added the HTTPS protocol in my servlet;
[code]
What about the missing/additional jar files ?;

* org.restlet.ext.net org.restlet.ext.httpclient
*

[2015-07-07 09:30] peterfronc commented on #1094
Seems to be fixed with recent updates. There is another thing but it may be worth another note.
When you use filter and access request parameters, the parameters are consumed, however after passing to chain same request, the form parameters are nulls (It may be the case that restlet operates on the consumed stream to read parameters).

[2015-07-08 18:55] rcbeuker commented on #1118
I checked Class ServerServlet and indeed ```"<param-value>HTTP HTTPS</param-value>"``` just adds the protocol;
[code]

But my " if (client.isAvailable()) " returns false because there is no helper provider by the implementation.
Which libraries need to be added? Shouldn't these libraries be part of the GAE package?

Regards,

Roland

[2015-07-09 11:38] rcbeuker commented on #1118
I fixed it (actually Koen Maes did). The problem was the use of ``` "org.restlet.ext.net"```
[code]
I added this because the book Restlet in Action specifies in paragraph 8.2.5

HttpURLConnection class, you’ll use the org.restlet.ext.net extension when
accessing external URLs by putting that extension’s JAR file in the classpath of the GAE
application. Client requests are then automatically execut

[2015-07-09 11:38] #1118 closed

[2015-07-11 13:57] thboileau commented on #1113
Hi @ralphvanetten,
there is the historic [discussion group hosted by tigris](http://restlet.tigris.org/ds/viewForumSummary.do?dsForumId=4447) but we are on the way to migrate it to google groups.

[2015-07-11 14:01] thboileau commented on #1112
fixed in 2.3 branch (future 2.3.4).

[2015-07-11 14:01] #1112 closed

[2015-07-16 13:48] thboileau commented on #1116
Hello @danipenaperez,

unfortunately, the current stable release 2.3 is available on JDK7 only (cf http://restlet.com/technical-resources/restlet-framework/guide/2.3/introduction/whats-new/2.3).
You can use any release before if you want.

[2015-07-17 07:16] thboileau opened #1120 "Consuming request parameters inside servlet filters makes restlet application receive null parameters"

[2015-07-17 07:17] thboileau commented on #1120
reported by @peterfronc:

[2015-07-17 07:17] thboileau commented on #1094
Hi @peterfronc, I've opened issue #1120 for that point.
I close this one.

[2015-07-17 07:17] #1094 closed

[2015-07-17 11:44] theprivateland opened #1121 "ServerResource: 'setAttribute' puts on response object map and 'getAttribute' gets from request map"
Is this correct? Its quite odd, notice the code samples (I checked sources):

Getter
[code]

Setter

[code]

I realised this during writing unit tests and mocking resource props.

[2015-07-17 11:45] theprivateland commented on #1121
I'd expect the setter to set on same object.

[2015-07-17 13:07] thboileau commented on #896
hi @neothemachine, we thank you very much for this contribution!
I close this issue, and will take care of build and tests.

[2015-07-17 13:09] neothemachine commented on #896
You're welcome, thanks to you too!

On 17/07/2015 14:07, Thierry Boileau wrote:

[2015-07-17 13:39] thboileau commented on #1121
Just as a matter of explanation, not justification.
As these methods are actually shortcuts, the balance was made where it was useful to set attributes and where to get attributes.
We usually get attributes on the request (on server side) when willing to retrieve the path variables from the request.
Regarding the "setAttribute" method, I'm less sure.  If we set attribute on the response, we surely

[2015-07-17 14:08] theprivateland commented on #1121
I would just have for both by adding "setResponseAttribute". For mocking in tests its useful to have setters (now Im reinitialising server resource).

[2015-07-18 01:11] jlouvel commented on #896
@neothemachine Hello, I couldn't find the signed JCA. Do you mind sending it again to contact@restlet.com? Thx!

[2015-07-20 05:14] tliron commented on #1108
I'm happy to say that I have an HTTP/2 server working with Restlet (though with a few subtle bugs, still working on it) using Jetty 9.3.1.

The difficulties were mostly with inadequate documentation in Jetty, the switch from NPN to ALPN, and the need to explicitly exclude the blacklisted cipher suites: https://http2.github.io/http2-spec/#BadCipherSuites (the last one was hard to discover: Firefox

[2015-07-21 01:50] tliron commented on #1108
This might not be the right place to mention this, but somehow my work on this connector has solved a long-standing bug with Resltet/Jetty.

The issue was that my production servers (open to the Internet) would hit 100% CPU after running for a few days. Try as I could, I could not debug it (I worked hard with VisualVM remotely to try to find anything wrong with the threads). My guess was that the

[2015-07-21 02:33] tliron commented on #1108
I've tracked the remaining issue with HTTP/2 to what I think is a bug in Jetty. I reported it and am linking it here for reference:

https://bugs.eclipse.org/bugs/show_bug.cgi?id=473118

[2015-07-22 03:23] tliron commented on #1108
I think that Restlet HTTP/2 client support won't be possible with Jetty 9.3, or at least very awkward. Client support for HTTP/2 is just not mature enough in Jetty at the moment: it uses a separate client class that does not integrate with the main HttpClient (even though the documentation implies that the intent is to integrate them at some point). Also, HTTP/2 cleartext is not supported.

I'm su

[2015-07-22 05:07] jlouvel commented on #1108
Thanks a lot Tal for all this progress on the HTTP 2.0 front. I'm looking fwd playing with it.
Regarding the suspicious lines of code, I don't have any rationale in mind. I guess this is the result of some historical evolution based on Jetty API changes. Your updated code look much simpler and if this solves the CPU issue, that's awesome!

Do you want to provide a pull request so we can merge this

[2015-07-22 05:28] kugtong33 commented on #1115
@thboileau , If this gets fixed would it be in the next latest version then?
Or where would be the right place to know this?

[2015-07-22 05:30] jlouvel commented on #896
Thanks Maik for sending the JCA again. Closing this issue!

[2015-07-22 05:30] #896 closed

[2015-07-23 00:05] tliron commented on #1108
Could you possibly test it first before I do a pull request? It should be very to build using the repo with just Maven. I also have ready-made binaries available, downloadable via Maven or the web. (See the repo README).

Don't forget that you need the Jetty HTTP/2 server artifacts, Jetty hpack, and also ALPN boot:

http://mvnrepository.com/artifact/org.mortbay.jetty.alpn/alpn-boot

You need to po

[2015-07-26 20:22] tliron commented on #238
What is the status of this issue?

[2015-07-29 11:31] E-BboxLab commented on #943
Since it's been almost a year and Restlet 2.3.3 released, is this issue still applies ?

If not, does the NIO extension stabilized now ?

[2015-07-30 00:32] amilabanuka commented on #1116
is there any lower version that the latest build that will work on jdk 1.6?

[2015-08-04 18:30] amitchaturvedi commented on #1076
Hi thboileau,

I am also facing the same issue. Android Restlet library does not work for Android L.  I have tried to resolve the issue by putting multiple if/else in SSLConnection.java file like this :+1:
:
public void initSslEngine() throws SSLException {
		if(getSslHandshakeStatus() != HandshakeStatus.NOT_HANDSHAKING && isHandshaking != true && getSslHandshakeStatus() != HandshakeStatus.NEED_UN

[2015-08-05 06:45] boillodmanuel opened #1127 "Add unit test on CorsFilter"

[2015-08-05 06:47] #1127 closed

[2015-08-06 20:09] jlouvel commented on #1076
The NIO extension is considered a dev preview and has some known stability issues. We actually don't plan to keep it moving forward (v3).

As an alternative, I would suggest looking at:
https://github.com/jetty-project/i-jetty

We will look into integrating i-Jety with Restlet Framework like we do with regular Jetty.
Contributions welcome on this front!

[2015-08-09 13:33] amitchaturvedi commented on #1076
NIO HTTPS extension not at all working with Android 5.
You mean you will not support NIO extension from the next version of Restlet releases.  Please let me know so that I can plan accordingly,

[2015-08-11 23:53] jlouvel commented on #1076
@amitchaturvedi This is correct, we won't be supporting the NIO extension moving forward, focusing on integration with Jetty (i-Jetty integration would be nice as well for the Android edition) and with Netty (new connector in the works). Sorry about the inconvenience.

@thboileau Could we make the NIO extension as deprecated in the Javadocs and related Java code in branch 2.3 to prevent any confus

[2015-08-12 23:07] andi-bigswitch opened #1130 "Method value caching broken depending on class initialization order"
The method `org.restlet.data.Method.valueOf(String)` usually returns cached values for common HTTP methods (GET etc.). In a particular application test case, I noticed the caching was not working, i.e., `valueOf` was *always* returning new instances.

The reason is the way the caching depends on class initialization order (and a tiny bug in Method.java).
- When Engine.getEngine() is called before

[2015-08-14 01:37] jlouvel commented on #1116
RF version 2.3 works with JDK 1.6.
http://restlet.com/technical-resources/restlet-framework/guide/2.3/introduction/whats-new/2.2

You can download it in this section:
http://restlet.com/downloads/past/

[2015-08-14 15:29] jlouvel commented on #943
We are planning to rewrite & fully support asynchronous API call processing as part of our next RF 3 release, including a new IO layer based on Netty (we'll remove our internal NIO layer/extension):
https://github.com/restlet/restlet-framework-java/wiki/Road-map-of-version-3

[2015-08-14 17:37] jlouvel commented on #481
Another tool mentioned by @glaforge that could help us is Bintray in complement to Sonatype OSS. It can help synchronize to Maven Central:
https://bintray.com/docs/usermanual/uploads/uploads_syncingartifactswithmavencentral.html

[2015-08-14 23:08] jlouvel commented on #1113
Here is the new Google Group that replaces the old Tigris.org mailing list:
https://groups.google.com/a/restlet.org/forum/#!newtopic/framework-discuss

@ralphvanetten Looking forward to discussing over there when Stackoverflow or GitHub isn't suitable.

[2015-08-14 23:08] #1113 closed

[2015-08-18 05:03] amitchaturvedi commented on #1031
What is the status of this Bug? Is it fixed?

[2015-08-20 11:35] thboileau opened #1132 "Setting a custom Content-Range Header in Restlet for use in Dojo pagination fails"
cf [StackOverFlow question](http://stackoverflow.com/questions/32047984/setting-a-custom-content-range-header-in-restlet-for-use-in-dojo-pagination-fail):

[2015-08-20 11:38] thboileau opened #1133 "Restlet's GET POST DELETE method route to the same function"
cf this StackOverFlow question
http://stackoverflow.com/questions/32001519/restlets-get-post-delete-method-route-to-the-same-function

[2015-08-22 09:10] thboileau commented on #1132
cf PR: #1134

[2015-08-24 03:42] monishappusamy opened #1135 "Two road map version pages"
I was trying to contribute and I found two roadmap pages for version 3

One at,
https://github.com/restlet/restlet-framework-java/wiki/Road-map-of-version-3.0

Another at,
https://github.com/restlet/restlet-framework-java/wiki/Road-map-of-version-3

I suppose the latter one is the latest, we can delete the first page.

[2015-08-24 09:23] thboileau commented on #1135
Hello,

thanks a lot for reporting this issue, I've deleted the first page wich
were, as you said, less up to date.

Best regards,
Thierry Boileau

2015-08-24 5:42 GMT+02:00 monish appusamy <notifications@github.com>:

--
*Thierry Boileau, Mr B*
+1 (408) 387-3184 • tboileau@restlet.com

<http://restlet.com/>
6 Rue Rose Dieng-Kuntz • Nantes, 44300 • France

[2015-08-24 09:30] #1135 closed

[2015-08-25 13:15] rcbeuker opened #1136 "No GAE version for org.restlet.ext.guice"
Why isn't there a GAE version for org.restlet.ext.guice?
For now, can i just take the JEE version?

http://restlet.com/technical-resources/restlet-framework/guide/2.3/extensions/editions-matrix

[2015-08-26 13:31] dscoppelletti opened #1137 "Bug in Representation ClientResource.get(MediaType mediaType)"
If you run the following code:

[code]

The language header is ignored.
This is because of the following overload in the class ClientResource:

[code]

As you can see, the handle method uses a new instance of the ClientInfo object, thus all the properties of the ClientInfo object you can set before are ignored!

Of course, now I am using the following code and it runs properly:

[code]

But I had

[2015-08-26 13:52] dscoppelletti opened #1138 "SpringBeanRouter and bean aliases"
The SpringBeanRouter component attaches each bean to one and only one URI, though more than one aliases can be an URI.
I wish the following bean was attached to both `/rest/job` and `rest/job/{jobId}` URIs:

[code]

[2015-08-28 21:50] jlouvel commented on #1136
Please try the JEE version and let us know if it works fine to be could include it in the GAE edition.

[2015-08-29 08:14] rcbeuker commented on #1136
Hello Jerome,

Yes, the JEE version works an can be included in the GAE edition.

Met vriendelijke groet,

Roland Beuker
*Arcus Solutions*
*06-33974573*

On 28 August 2015 at 23:50, Jerome Louvel <notifications@github.com> wrote:

[2015-09-02 16:43] cgatesman opened #1139 "ResourceException constructor calling incorrect Status constructor"
It seems to me that this ResourceException constructor:

[code]

should actually be calling `new Status(status, cause, null, description)`.  Currently, it is incorrectly passing a description as a reasonPhrase.  This, in turn, causes IllegalArgumentExceptions from `Status.checkReasonPhrase()` when you catch a Throwable in your Resource and attempt to use this constructor to throw a ResourceExcepti

[2015-09-04 01:47] 01es commented on #533
Dear @thboileau and @jlouvel,

I have followed on the original discussion and am also in need of a similar to [Jetty QoS filter] (http://www.eclipse.org/jetty/documentation/current/qos-filter.html) solution for throttling.

Is building a custom filter still the best option or is there something already available for Restlet to support request throttling? I do not mind embarking on the task of buil

[2015-09-04 10:42] glaforge commented on #533
@01es have you looked at this RF extension regarding rate limitations and such?
http://restlet.com/technical-resources/restlet-framework/guide/2.3/extensions/apispark/firewall
Perhaps it might help?

[2015-09-04 11:27] philippeu opened #1140 "Cannot remove Jetty HTTP server header for invalid request"
Hello,
it is possible to overwrite the jetty server header by setting the agent on server info (restlet 2.3.2)

[code]
it seems to work only for requests reaching the server resource.
If restlet received the following request
[code]
the following response is sent
[code]

Is there a way to remove the HTTP server header for such case?
thanks

[2015-09-04 12:03] thboileau commented on #1140
Hi @philippeu , I've just made a test and it works for me using RF 2.3.2.
I I see that the 2.3.2 released is associated with a distinct version of Jetty `9.2.6.v20141205`, instead of `9.2.10.v20150310`.
I wonder where do you set up the server name?

[2015-09-04 12:23] philippeu commented on #1140
Hi Thierry,
I have updated jetty to 9.2.10 to get some security patches required in my project.
I rolled back to 9.2.6 but i have the same behavior

[code]

for your information, i'm testing with
[code]

telnet is also doing the job

[2015-09-05 05:53] zhouning commented on #1088
CorsService cors=new CorsService();
		cors.setAllowedOrigins(new HashSet(Arrays.asList("*")));
		cors.setAllowedCredentials(true);

		Application test=new Application();
		test.getServices().add(cors);

		this.getDefaultHost().attachDefault(test);

[2015-09-05 08:09] thboileau commented on #1140
Thanks @philippeu
I was looking at the level of the HTTP response (which shows the RF version), so I think there is another issue.

[2015-09-05 09:08] thboileau opened #1141 "Jetty server connector sends Date header twice"

[2015-09-05 09:13] #1141 closed

[2015-09-05 09:19] thboileau commented on #1139
Thanks @cgatesman , the fix is now part of the 2.3 branch.

[2015-09-05 09:19] #1139 closed

[2015-09-05 09:40] thboileau commented on #1137
Thanks @dscoppelletti for reporting this.
We can handle this issue as follow:
 - either update the javadocs in order to tell that the client preferences are reset
 - or update the code by taking care of existing preferences, and set the given media type as the first preferred media type.

I think I prefer the latter. do you?

[2015-09-05 09:47] thboileau commented on #1138
as a workaround, you can duplicate the declaration:
[code]

[2015-09-05 10:34] thboileau commented on #1136
Hi @rcbeuker , thanks a lot for the test.
It is now part of 2.3 branch (will be part of 2.3.5 release, coming soon).

[2015-09-05 10:34] #1136 closed

[2015-09-05 14:26] thboileau commented on #1088
Actually, the initial intention was to use the set of headers only for the "non standard" ones. A bug has been introduced at some time, and "fixed" in release 2.3.2. But we understand your point of view.
Let's keep this issue open.

[2015-09-07 02:22] 01es commented on #533
@glaforge no, I haven't. Many thanks for pointing to this extension! A quick look at the documentation suggests that it might be pretty much exactly what's needed to support QoS feature.

Does it make sense to close this issue with a reference to use APISpark firewall as a solution?

[2015-09-07 07:16] thboileau commented on #533
Hi @01es , that's fine, let's close the issue.

[2015-09-07 07:16] #533 closed

[2015-09-07 07:20] dscoppelletti commented on #1137
Yes, I prefer the latter, too.
Even better if you can clone the ClientInfo Object and set the MediaType in the clone as the only one MediaType; so that the original client preferences remain unchanged as JavaDoc says for the ClientResource.get(MediaType) method overload.

[2015-09-07 07:25] dscoppelletti commented on #1138
Yes, I actually I do that and this is quite good because the Restlet Resources are prototype beans. I think this issue is an enhancement, too.

[2015-09-08 11:16] thboileau opened #1142 "Consider integration with Rythm template engine"
check the value, the effort.
http://rythmengine.org/

[2015-09-09 13:48] ernotorok opened #1143 "java.lang.ClassCastException: org.restlet.data.Parameter cannot be cast to org.restlet.data.Header"
I've seen a similar report, that was caused by the side effect of a CORS filter. Here a servlet filter is also involved, but all Restlet calls are from the 2.3.1 jar, and I do not have any other version in my war.
Could you see how Parameter gets involvedd?

java.lang.ClassCastException: org.restlet.data.Parameter cannot be cast to org.restlet.data.Header
	at org.restlet.engine.header.HeaderUtils.

[2015-09-09 14:30] ernotorok commented on #1143
The error was caused by our code, when we set a response header now of type Series<Header>, it was Form before.

[2015-09-09 14:30] #1143 closed

[2015-09-12 16:21] thboileau opened #1144 "Add support of JsonViews annotations"
Add support of annotations in the Jaxrs extensions, and perhaps in the Jackson extension.

It may be interesting to help converters using method annotations.

[2015-09-15 15:28] ralphvanetten opened #1145 "NPE while setting CORS headers"
If you use `setAccessControlExposeHeaders()` or any of the other methods for settings CORS headers on the `Response` class you'll get an NPE.

This is caused by calling `this.accessControlExposeHeaders.clear();` in line https://github.com/restlet/restlet-framework-java/blob/2.3.4/modules/org.restlet/src/org/restlet/Response.java#L768
`this.accessControlExposeHeaders` is never initialized with a re

[2015-09-15 19:19] jlouvel commented on #1145
@ralphvanetten Thanks for spotting this! Do you think you can contribute a PR? Otherwise, @thboileau  will take care of this as soon as possible.

[2015-09-16 17:15] thboileau opened #1146 "DecodeRepresentation does not compute size correctly"
tested scenario:
[code]

The size and available size are the one of the gzipped entity, which is wrong.

[2015-09-17 06:38] thboileau commented on #1146
There was also an issue with the Jetty client connector.
When tested using a redirector, the final client still received in the "Content-length" header the size of the zipped entity, whereas the Jetty client connector automatically decodes the representation.

[2015-09-17 06:42] #1146 closed

[2015-09-18 11:45] ralphvanetten opened #1147 "CORS header Access-Control-Expose-Headers is never set"
In https://github.com/restlet/restlet-framework-java/blob/2.3/modules/org.restlet/src/org/restlet/engine/header/HeaderUtils.java#L603 the CORS response headers are set but it never sets the Access-Control-Expose-Headers header (http://restlet.com/technical-resources/restlet-framework/javadocs/2.3/jee/api/org/restlet/Response.html#getAccessControlExposeHeaders() )

[2015-09-18 21:30] fellahst commented on #1088
Is this bug fix ?  I run into similar problem, when I initialize my application with the following code

CorsService corsService = new CorsService();
corsService.setAllowingAllRequestedHeaders(true);
corsService.setAllowedOrigins( new HashSet(Arrays.asList("*")));
corsService.setAllowedCredentials(true);

getServices().add( corsService );

I tested with version 2.3.0, 2.3.2, 2.3.4. What do I miss

[2015-09-19 06:53] #1147 closed

[2015-09-19 06:58] thboileau commented on #1145
Hi @ralphvanetten , I'm not able to reproduce this NPE.
Is it still accurate, do you have any sample code?

[2015-09-19 09:00] ralphvanetten commented on #1145
Added a test case in pull request #1149

[2015-09-19 09:01] thboileau commented on #1088
Hi @fellahst ,

I've tried your code and it runs well for me using the 2.3.4 version.
What kind of issues do you get?

Here is my sample test code. All files are located in a "cors" package.

- here is the sample application:

[code]

- here is the sample Hello server resource:

[code]

- here is the sample `index.html` file, you can replace the url `tboi.com` by one configured into your /etc/host

[2015-09-19 09:08] thboileau commented on #1145
Thanks @ralphvanetten , I've fixed the issue, and added your regression test case.
I wonder what I've tested...

[2015-09-19 09:10] thboileau commented on #1145
NB: we will release 2.3.5 very soon.

[2015-09-19 09:10] #1145 closed

[2015-09-19 09:19] ralphvanetten commented on #1145
great, thanks

[2015-09-21 02:56] bwatsonluke opened #1150 "setAccessControlExposeHeaders is broken"
Response.setAccessControlExposeHeaders is broken in version 2.3.4.  Calling it results in a NullPointerException.
The fault is line 766 of setAccessControlExposeHeaders which synchronises on getAccessControlAllowHeaders() instead of getAccessControlExposeHeaders().

[2015-09-21 03:15] bwatsonluke opened #1151 "HeaderUtils.addResponseHeaders doesn't add header for HEADER_ACCESS_CONTROL_EXPOSE_HEADERS"
The Access-Control-Expose-Headers header is not handled properly in HeaderUtils.  In particular,
copyResponseTransportHeaders has code for handling HEADER_ACCESS_CONTROL_EXPOSE_HEADERS but addResponseHeaders does not.  Consequently, even if the header has been set on the Response it is not being set on the HttpResponse.

[2015-09-21 05:37] DVassilev commented on #1086
@thboileau Is this fixed in any of the new versions? Empty challengescheme is apparently not supported either.

[2015-09-21 06:21] thboileau commented on #1150
Hi @bwatsonluke , thanks for reporting this issue.
this has been [fixed](https://github.com/restlet/restlet-framework-java/issues/1145)

[2015-09-21 06:21] thboileau commented on #1150
The fix will be part of the 2.3.5 release.

[2015-09-21 06:21] #1150 closed

[2015-09-21 06:41] thboileau commented on #1151
Hi @bwatsonluke, I've tried the current branch 2.3, and I don't notice this point.
I've even tried, and it worked for me.
Which version of the framework are you using?